[2015-11-27 01:28] vlascik opened #2 "Some feature ideas"
Great work, finally a usable Ember plugin :)
Couple of ideas for features:
* {{component/helper/variable}} name completion in .hbs templates
* completion for i18n {{t helper, for ember-intl / ember-i18next (json, different directories) and ember-i18n (.js)
* more live templates, maybe just copy them from https://github.com/kristianmandrup/emberjs-plugin

[2015-11-27 06:50] Turbo87 commented on #2
Thanks, glad you like it.

Hbs completion might be a bit complicated since I'm not in control of the Hbs plugin, but I'll see what I can do.

I'm not sure that all those live templates still make sense but there sure could be more.

I've basically developed all the stuff that I've found useful while working on crates.io. I guess the next two things on my list will be test support and using ember-c

[2015-11-29 16:01] vlascik commented on #2
Hm, I think .hbs shouldn't be a problem, looks like you'd just have to add completion contributor
https://confluence.jetbrains.com/display/IntelliJIDEA/Completion+Contributor .
Translation completion is also useful in .js files, but as there is no standard for i18n in Ember, it might require some configuration options (translation function name, directory and format (json/js)). Should be doable th

[2015-11-29 16:12] Turbo87 commented on #2
v1.3.0 will have a few more live templates for Handlebars.

Closing this for now. I will accept PRs for Handlebars completion and the other suggested features but I'm probably not going to work on it myself.

[2015-11-29 16:12] #2 closed

[2015-12-02 14:23] drewclauson opened #3 "Dasherized model names CTRL-Click not working"
First, thanks for this!  Been looking awhile for something like this to come out!

I found that if I have a dasherized model like `customer-location`, when I CTRL-Click on the `belongsTo` in a related model, it doesn't link to the model.  It does link to non-dasherized correctly, however.

[code]

[2015-12-02 14:25] Turbo87 commented on #3
I am very surprised by that because I haven't knowingly written any code that does that :smile:

[2015-12-02 14:30] drewclauson commented on #3
Interesting - you know I just noticed that instead of linking directly, it simply brings up an autocomplete window that shows implementations of the name of that.  So, it gives me the option to link to models/customer.js or any other model that has a `customer:` property...

![image](https://cloud.githubusercontent.com/assets/10655807/11533377/4b8fdb7e-98d7-11e5-93aa-a2e342821da3.png)

[2015-12-02 14:31] drewclauson commented on #3
Linking directly would be fun, though. :smile:

[2015-12-02 14:39] Turbo87 commented on #3
[code]

<kbd>ctrl</kbd>-clicking on `'crate'` basically just links to the `crate` property itself instead of the `crate` model for me. It looks like this is something that the IntelliJ JavaScript plugin does internally for cases where you use e.g. `someObject['someKey']`. It might be possible to hook into that, but it doesn't look like  it's meant to be extended in such a way.

Feel free to work o

[2015-12-02 14:50] drewclauson commented on #3
Thanks, I'll take a look into it at some point, but I'm not very familiar with the code at this point. Thanks again for working on this!

[2015-12-02 15:06] Turbo87 commented on #3
I wouldn't say I'm particularly familiar with it either. Unfortunately the IntelliJ JavaScript plugin is closed source and even the open source parts of IntelliJ aren't that well documented. I'm quite surprised actually by how much of it I've figured out already :wink:

[2015-12-02 19:48] Turbo87 commented on #3
I'm reopening this because I may have found a way to implement it...

[2015-12-03 10:28] Turbo87 commented on #3
resolved by 78b354c

[2015-12-03 10:28] #3 closed

[2015-12-03 13:21] drewclauson commented on #3
I tried building this from source, but maybe I did something wrong, I can't seem to make it work any different than it did before.  I should have been pulling from master, correct?

[2015-12-03 13:22] Turbo87 commented on #3
yes, the master branch includes this feature. if you have at least Java 1.7 all you should need to do is `./gradlew runIdea`.

[2015-12-03 15:02] drewclauson commented on #3
Part of the problem could be that I'm on Windows, but I'm not sure.  I'm actually using PHPStorm, but I installed IntelliJ IDEA 15.0.1 evaluation and here's what I get when I control click `'customer'`.  I confirmed that the customer model is located at  /app/models/customer.js  Looks like the Javascript plugin is still overriding it.  Will try it without the JS plugin.

![image](https://cloud.git

[2015-12-03 15:02] drewclauson commented on #3
FYI, I import belongsTo in `let {Model, attr, hasMany, belongsTo} = DS;` but was checking to see if adding the DS at the beginning was a factor.

[2015-12-03 15:04] drewclauson commented on #3
Never mind on trying without JS support, Ember.js relies on it. whoops :innocent:

[2015-12-03 15:26] Turbo87 commented on #3
hmm I guess the "on Windows" part *might* be a problem. I'm developing this plugin on OSX and haven't tested it on Windows yet.

The destructuring import shouldn't be a problem because it only matches on the last part of the method name (i.e. `belongsTo`). It will only fail if you alias the function with another name.

[2015-12-03 17:59] Turbo87 commented on #3
I've just tried this with the current master (6b76e10) inside a Windows 7 VM and it works just fine for the https://github.com/rust-lang/crates.io repo.

Could you try to reimport the project? I've implemented this feature in a way that it only works on Ember.js modules and if your module/project somehow is not an Ember.js module/project it won't work.

[2015-12-03 19:13] drewclauson commented on #3
I cloned crates and this is what I get... (tooltip is "Multiple Implementations")

![image](https://cloud.githubusercontent.com/assets/10655807/11570953/f238e4f2-99c7-11e5-996c-48d6d68b8240.png)

[2015-12-03 19:14] drewclauson commented on #3
Wait... I just realized what you meant by reimport - just a sec

[2015-12-03 19:27] drewclauson commented on #3
Reimporting the project did it!  Windows 10, 64-bit running PHPStorm 10.0.1 64-bit, FYI

[2015-12-03 19:37] Turbo87 commented on #3
awesome, thanks for debugging this. what did you previously think when I said reimport?

[2015-12-03 19:39] drewclauson commented on #3
For whatever reason I thought invalidate the cached files... Just one of those days :wink:

[2015-12-03 19:40] drewclauson commented on #3
Side question: when autocompleting a hasMany or belongsTo entity, is it supposed to automatically pop up with suggested model names or do I have to hit ctrl-space every time?  I am getting it to pop up only when hitting ctrl-space.

[2015-12-03 19:41] drewclauson commented on #3
Btw, love the icons!

[2015-12-03 19:44] Turbo87 commented on #3
It only work with ctrl-space for now. The icons are imported from the font-awesome project, but I'm not sure if they'll stay like this. I just needed to display *something* instead of emptiness for now.

[2015-12-03 19:45] drewclauson commented on #3
:+1: :+1:

[2015-12-04 11:54] orf opened #4 "Plugin does not work in IDEs other than IntelliJ itself"
Hey there, thanks for this plugin! I'm testing it out on my EmberJS project and it appears to not be detecting the app. My actual EmberJS project is inside a directory called 'frontend' (the project contains the backend code as well), so the app.js is located at 'frontend/app/app.js'. Any chance this could be picked up by the plugin?

[2015-12-04 11:58] Turbo87 commented on #4
I've been testing this by importing https://github.com/Turbo87/intellij-emberjs/tree/master/src/test/resources/com/emberjs/fixtures/nested-projects and it correctly picks up both projects as two separate Ember.js modules.

Could you try this with the current master branch or v1.3.0? I've changed a few things regarding this lately and I'm not sure if v1.2.0 already handled this case correctly.

[2015-12-04 16:59] orf commented on #4
Hi,
I've tried this with 1.3.0 but with no luck. I've even tried making a new project with no nested directories in PyCharm and the plugin still doesn't seem to trigger: All I do is `ember new test2` inside `~/PycharmProjects`, then open `~/PycharmProjects/test2` in PyCharm.

[2015-12-04 18:24] Turbo87 commented on #4
how do you "open" the project? you should use `File → New → Project from Existing Sources...` to properly import it.

[2015-12-07 10:27] Ramblurr opened #5 "Java detection seems to override Ember.js"
I've a ember-cli app with the ember-cli-cordova addon. This addon makes a cordova folder with lots of stuff in it.

Some of this stuff is Java for Cordova's android support.

When I attempt to import my ember project in IDEA via `File → New → Project from Existing Sources...`, after scanning the folders, it shows the cordova Java files:

![import_project](https://cloud.githubusercontent.com/assets

[2015-12-07 10:53] kitsunde commented on #4
PyCharm doesn't have `file -> new -> ..` I did do `file -> open..` On an existing project (i nuked the previous .idea) and I have the same issue.

[2015-12-07 11:29] orf commented on #4
Hey @Turbo87, I was just making a new project, or doing `file -> open`. @kitsunde is right though, there doesn't seem to be a `New project from existing sources` option. It would be really awesome if you could perhaps add a 'mark as EmberJS' option to the right-click context menu, or maybe to the settings panel?

[2015-12-07 11:30] Turbo87 commented on #4
hmm... interesting, I thought the IDEs were mostly similar in that regard... I don't have a PyCharm license, but I'll try to figure this out in some way.

[2015-12-07 11:32] Turbo87 commented on #5
@Ramblurr could you make an example project with that issue that I can clone?

[2015-12-07 12:00] Turbo87 commented on #4
So it looks like PyCharm is opening projects significantly different from what IntelliJ does. This might not be as easy to resolve as I hoped. I might be able to make some features work by removing the Ember.js module restriction, but I'm not sure yet if that is really the right way to go here...

[2015-12-07 16:43] tschoartschi opened #6 "Does not work with old IDE versions"
Hey!

I wanted to try this plugin with my Webstorm 9 installation but I can not install it. During the installation I get the following error:
```Error --> Plugin Ember.js is incompatible with current installation```
I have Webstorm 9.0.3 on Mac OS X Yosemite. Do I have a chance to get it running or is it really incompatible with my installation?

Thanks as lot

[2015-12-07 17:06] panthony commented on #5
Same issue here.

I have an application with "ember-suave".

If I do "npm installl" then try to import the project then it will try to create a java project with the following directory as source:

./node_modules/ember-suave/node_modules/broccoli-jscs/node_modules/jscs/node_modules/jsonlint/node_modules/JSV/jsdoc-toolkit/java

If I remove node_modules folder before trying to import the project the

[2015-12-07 17:25] Turbo87 commented on #5
This is actually related to #4. Apparently this whole module detection thing is only available on IntelliJ and according to this ticket even there it doesn't work 100% reliably. We need to find a better solution for this, but so far I haven't found one.

[2015-12-07 17:26] Turbo87 commented on #6
hmm that is unexpected. I tried to install the current version in WebStorm via the zip file an that seemed to work. But due to #4 this plugin is unfortunately not useable on WebStorm anyway as of now. I'm searching for solutions though.

[2015-12-07 17:30] Turbo87 commented on #6
could you try in the meantime if installing via https://github.com/Turbo87/intellij-emberjs/releases/download/v1.3.0/Ember.js-1.3.0.zip works for you?

[2015-12-08 07:31] panthony opened #7 "Poor visibility of icons on dark theme"
I use IntelliJ using the dracula theme and because pretty much all icons are black there is poorly visible:

![v57s7km](https://cloud.githubusercontent.com/assets/230462/11650066/deb57ffa-9d85-11e5-8d74-8c097b14b32a.png)

It would be nice to have icons that display better either on a dark or light theme.

Keep up the good work!

[2015-12-08 07:37] panthony opened #8 "Plugin failed to find 'ember' executable"
When I try to create a new EmberJS file it fails because it cannot find 'ember':

[code]

[code]

I didn't find if we could specify a path to the ember executable to use.

[2015-12-08 07:58] Turbo87 commented on #7
oh, totally forgot about darcula... should be an easy fix. feel free to try it yourself while I'm still busy on the other issues.

[2015-12-08 08:01] Turbo87 commented on #8
are you using nvm or anything like that? Otherwise my setup is mostly similar and works alright. It should be possible to create an option for choosing the ember executable though.

[2015-12-08 08:22] panthony commented on #7
Will do :+1:

[2015-12-08 08:23] panthony commented on #8
I am using nvm yes.

[2015-12-08 08:25] Turbo87 commented on #8
try starting intellij from the same command line where ember works. might be a possible workaround for now.

[2015-12-08 08:27] Turbo87 commented on #7
cool, thanks for helping out. If I remember correctly you just need to copy the icons, make them white and add a "dark"  suffix somewhere. check out the intellij-community repo for some examples.

[2015-12-08 08:42] panthony commented on #8
Launching the IDE using `open -a IntelliJ\ IDEA\ 15` fixed this issue but there was another crash.

I tried to create a new component using "my-component" and the process ended up with the following error:

[code]

All files were created though.

[2015-12-08 08:48] Turbo87 commented on #8
btw there is `Tools -> Create Command-line launcher` that will create an `idea` tool that you can use right from the command line :wink:

could you open a separate issue for that exception? that `YesThread` is just responsible for answering `y` to all questions so it might as well crash after the `ember` process itself quits. the exception should be caught though and then break out of the loop.

[2015-12-08 09:24] panthony opened #9 "IOException in YesThread after new EmberJS file action"
When I create a new EmberJS file I end up with the following error:

[code]

The files are properly generated.

[2015-12-08 09:25] panthony commented on #8
I created the new issue, thanks for the tips with "Create Command-line launcher" :+1:

[2015-12-08 09:30] Turbo87 commented on #9
as mentioned in #8 this should be a rather easy fix. https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/cli/YesThread.kt#L11-L14 needs to be surrounded by a try-catch with a `break` in the catch block.

[2015-12-08 13:18] Turbo87 commented on #4
@orf @kitsunde just as a heads up: I'm going on vacation next monday for a few weeks and won't be able to work on this project until I get back. I'll try to fix this issue until then, but I can't promise anything yet. Feel free to help out and experiment with the code though, I'd be happy to merge any pull requests!

[2015-12-08 17:46] Turbo87 commented on #4
@orf @kitsunde okay, I think I've got it working now. it's not perfect yet, but most of the functionality seems to work fine. please check out the [project-roots](https://github.com/Turbo87/intellij-emberjs/tree/project-roots) branch, build the plugin, install it via zip file and test whether that works for you!

marking the project as ES6 and marking the folders is not implemented yet, but goto c

[2015-12-08 17:51] Turbo87 commented on #6
hmm, I just noticed that WebStorm 9 is actually quite an old version since v11 seems to be current. I have no idea down until what version this plugin works or will be compatible. I'm developing it based on IntelliJ 15.0.1 and the minimum IDE version of the plugin is set to that version accordingly.

Can you tell me your exact version? Something like `143.382`.

[2015-12-08 20:19] tschoartschi commented on #6
Maybe I should upgrade my WebStorm but right now time is quite short. Version 1.3.0 also does not work with WebStorm 9. Build version is ```139.1112```, WebStorm version is 9.0.3

Thanks a lot for your effort

[2015-12-08 20:40] Turbo87 commented on #6
I'll see if there is an intellij version matching that description.

[2015-12-09 11:53] #5 closed

[2015-12-09 13:20] #9 closed

[2015-12-10 01:07] jdenly opened #15 "Navigate to class does not support pod layout"
When using pod layout, the navigate to class feature does not work.

For example
[code]
Correctly resolves when navigating to classes.
[code]
Shows as a route (as indicated by the icon changing), but does not show when trying to navigate to class.

[2015-12-10 06:39] Turbo87 commented on #15
hmm, as you can see by the changing icon the file is correctly recognized as a route so it should show up in the goto class dialog... I'll see if I can reproduce this.

Just to clarify, you don't expect this to be a route unit test, right?

[2015-12-10 07:50] jdenly commented on #15
Nope, I was expecting it should show up as a route.

On Thu, 10 Dec 2015 17:39 Tobias Bieniek <notifications@github.com> wrote:

[2015-12-10 08:56] jdenly commented on #15
How strange, I just tried to recreate this with a fresh project and it works fine.

I ran the following steps, with these versions.
[code]

[code]
I then opened in IDEA 15.0.1, waited for indexing to finish and both routes have the correct icon. Using navigate to class now works for both. It must be a peculiarity of my other project.

I'll see what is different between the two projects and get bac

[2015-12-10 08:59] jdenly commented on #15
OK, now I'm really confused - I reopened the other project and it is working fine now too.

Sorry for wasting your time and thanks for working on this plugin, it's very useful!

[2015-12-10 09:02] Turbo87 commented on #15
hehe, alright. glad it cleared up :smile:

[2015-12-10 09:02] #15 closed

[2015-12-10 09:20] #4 closed

[2015-12-10 09:40] Turbo87 commented on #7
fixed by 97a4e3d

[2015-12-10 09:40] #7 closed

[2015-12-10 09:47] Turbo87 commented on #4
I have just release v1.3.1 and it should hopefully fix the problem.

[2015-12-10 11:28] orf commented on #4
Hi, sorry about the lack of feedback! Things got a bit hectic here.

It seems to work fine, thanks so much! Marking the `node_modules` and `bower_components` still doesn't seem to work, but the introspection stuff (which is amazing) works fine! Thanks again :+1:

[2015-12-10 13:12] Turbo87 commented on #6
it looks like the furthest I could go down in theory would be `14.1.1` (aka. `141.178.9` / see https://www.jetbrains.com/intellij-repository/releases). This is the first IntelliJ Ultimate release published on the JetBrains Maven repo that also contains associated source for the Community edition. Anything below that won't work work the JavaScript plugin so that is out of the question. I haven't ye

[2015-12-10 13:14] panthony commented on #7
You went ahead and fixed it :+1:

I planned to take a look this week end since I'm very busy at the moment.

[2015-12-10 13:25] denofevil commented on #6
@Turbo87, hi from the WebStorm team here.
I haven't looked a lot at the plugin source code yet, but JavaScript API changed a LOT between 139 and 141 due to major internal changes

[2015-12-10 13:37] tschoartschi commented on #6
@Turbo87 thanks for the effort. It's okay for met to close the issue

@denofevil great that the WebStorm team follows EmberJS. Will there be official EmberJS support any soon, or is it not on your roadmap?

[2015-12-10 13:51] Turbo87 commented on #6
@denofevil thanks for the feedback. I've experimented a bit with it and most of the stuff actually seems to work all the way back to `14.1.2`.

I might be able to make it work down to that release, but I will most likely wait with it until after my vacation. I wouldn't want to release such a major change before going offline for a few weeks...

[2015-12-10 13:59] Turbo87 commented on #7
I wanted to release the update before the weekend because I'm going to be on vacation starting Monday.

[2015-12-10 16:56] Turbo87 commented on #4
@orf good to hear, thanks!

[2015-12-10 19:41] Turbo87 commented on #8
I guess it would make a lot more sense to use `node_modules/.bin/ember` instead of relying on `ember` being available on the path... but even then it might fail if the wrong `node` interpreter is used...

[2015-12-11 03:52] donahchoo opened #16 "can't use ember-cli and nvm?"
Hi,

I have ember-cli installed via nvm @ ~/.nvm/versions/node/v0.12.7/bin/ember

If I try to create a new file I get this error:

Problem running ember-cli: Cannot run program "ember" (in directory "/Users/me/Developer/ember/ember-note"): error=2, No such file or directory

echo $PATH includes /Users/me/.nvm/versions/node/v0.12.7/bin

also, does the new Ember.js command support pods?

[2015-12-11 06:35] panthony commented on #16
Hi @donahchoo

Maybe you ran into the same problem as me with #8 ?

I had to start intellij from the command line to make it work.

For now, if you want to create pods components using this plugin you'll have to create a file ".ember-cli" with
[code]
It will make ember-cli use --pods option by default for all generate commands. See http://ember-cli.com/extending/#pods for more infos.

[2015-12-11 06:39] panthony commented on #8
It may requires a little more work but I liked the idea of having the choice to set the path to the ember executable in case the plugin is unable to discover it.

IntelliJ provides the choice to configure the executable path for almost every binary.

[2015-12-11 07:57] Turbo87 commented on #16
duplicate of #8

[2015-12-11 07:57] #16 closed

[2015-12-11 08:07] panthony opened #17 "Support for Ember addons?"
It would be nice to have a minimal support of ember addons.

See https://gist.github.com/kristianmandrup/ae3174217f68a6a51ed5

[2015-12-11 08:31] Turbo87 commented on #17
I haven't yet developed any addons myself so I'm not quite aware of what exactly might be useful there, but this is definitely something that is planned for a future release.

[2015-12-11 08:36] Turbo87 commented on #6
@tschoartschi could you check if the [old-ide-compat](https://github.com/Turbo87/intellij-emberjs/tree/old-ide-compat) branch works for you? it will probably still be incompatible, but it should at least work down to `141.713.2`.

[2015-12-11 20:53] Turbo87 commented on #17
@panthony I added basic addon support in #19. No name resolution yet like for real apps, but at least the project detection is working now in IntelliJ.

[2015-12-11 21:27] panthony commented on #17
nice :+1:

[2015-12-11 22:01] Gaurav0 opened #21 "Indexing is slower with this plugin installed"
This may have to do with the fact that I usually exclude node_modules and bower_components but this addon makes them libraries.

[2015-12-11 22:05] Turbo87 commented on #21
so what exactly is it that you are suggesting here?

[2015-12-12 13:26] #21 closed

[2015-12-14 04:31] jackmatt2 opened #22 "Plugin is Freezing WebStorm 11"
In my workspace I have about 11 ember projects.  As soon as I installed this plugin "WebStorm 11" now freezes. Previously, I had to add both `bower_components` and `node_modules` to the excluded list (right click > mark directory as > exclude) to prevent webstorm from indexing them in searches which was causing the same behaviour.  I noticed that the plugin instead adds them as libraries, maybe th

[2015-12-14 05:45] Turbo87 commented on #22
maybe this should be a bug report on the webstorm issue tracker instead? what's the point of indexing if the ide doesn't even know about the installed libs?

[2015-12-14 07:42] panthony commented on #22
I kind of agree with @Turbo87, the issue would be more on WebStorm "while indexing huge project, the IDE is irresponsive".

Although I understand as I use to exclude both folders for the same reason (I'm using IntelliJ).

But it should come back to normal once the project is indexed no?

[2015-12-14 08:34] Turbo87 commented on #22
what we could do is offer a plugin-wide option to add those folders to the exclude list instead, but I won't have time to work on this in the next few weeks while on vacation. I'd be happy to review and merge when I get back though.

[2015-12-14 08:41] panthony commented on #22
It may be the occasion to add a configuration panel of the plugin with this configuration and the ember binary path :)

I hope I'll have some time to take a look before you get back but I never played with kotlin nor intellij plugin before.

[2015-12-15 16:51] Gaurav0 commented on #21
I think the suggestion in issue #22 where you allow me the option to exclude node_modules and bower_components would be helpful.

[2015-12-17 14:28] nagkumar commented on #8
:53:08 PM Problem running ember-cli:
           Cannot run program "ember" (in directory "C:\temp\js\raguram"): CreateProcess error=2, The system cannot find the file specified (show balloon)

This issue is seen though ember exists in windows global path and when webstrom 11 is launched from command line ms-dos prompt which has admin privileges.

[2015-12-21 22:04] captmorgan opened #23 "Not available for RubyMine 8"
I wasn't able to find the plugin listed under "Browse Repositories".

[2015-12-21 22:05] captmorgan commented on #23
I tried building the plugin locally but when I tried to install I received an error that it was not compatible.

[2016-01-10 00:00] macinjosh commented on #8
+1 on this issue.

[2016-01-13 09:39] Turbo87 commented on #23
hmm, it should work fine on the latest RubyMine version, but I admit that I only tested IntelliJ, PyCharm and WebStorm so far...

[2016-01-13 17:22] Turbo87 commented on #23
@captmorgan could you test if #20 works for you?

[2016-01-13 20:20] Turbo87 opened #24 "Optionally exclude node_modules and bower_components folder"
As suggested in #22 we should add a plugin-wide option whether the `node_modules` and `bower_components` folder should be marked as library folders or instead excluded from indexing at all. I would personally use the first option because once the initial index is done it usually stays quite fast but I can see that people might disagree.

[2016-01-13 20:21] Turbo87 commented on #22
closing this in favor of #24 which explicitly states the necessary steps to resolve these issues

[2016-01-13 20:21] #22 closed

[2016-01-14 12:52] mihai-scurtu opened #25 "Recognize that an action function is not an unused method and uses the higher level `this`"
<img width="377" alt="screen shot 2016-01-14 at 2 50 41 pm" src="https://cloud.githubusercontent.com/assets/5492517/12324828/445b0f04-bace-11e5-99ec-0e466ee18b14.png">

The screenshot is from inside a component.

[2016-01-14 13:04] Turbo87 commented on #25
that would be cool, but I think it is (at least for now) out of scope for the plugin. feel free to work on it though, I'd be happy to review and merge any pull requests.

[2016-01-14 13:04] #25 closed

[2016-01-20 11:18] orf commented on #24
It's a hard one, I'm in favour of keeping it, but if you have a sluggish machine then indexing can/will freeze everything. You need to specify this while creating the project I think, you can't really alter the preference while the IDE is frozen :)

Perhaps when creating the project we can check the number of folders in `node_modules`, and if there are more than X display a box saying "This may ta

[2016-01-20 17:00] rogatty opened #28 "Add possibility to disable JSHint"
In our project we use ESLint, so there is no need for JSHint inspection. Yet, every time I open WebStorm 11 and a JS file, I see a red bar in editor window saying:

I tried unchecking "Enable" field in JSHint settings and disabling its inspection but it's back after restarting WebStorm.

Is it possible to have a way to disable it for good?

[2016-01-20 17:04] Turbo87 commented on #28
@rogatty are we talking about an Ember project or another type of project? does your project still have a `.jshintrc` file?

[2016-01-20 17:08] rogatty commented on #28
It's a mixed project, where the Ember part resides in a subdirectory (`/front/main`). All features work without any issues so I guess it's not a problem. There is no `.jshintrc` file neither in root nor in Ember directory.

If you want to take a look at the structure there it is: https://github.com/Wikia/mercury

[2016-01-20 17:18] Turbo87 commented on #28
thanks for the repo link, that'll be helpful for testing any potential fixes. I guess I could change the algorithm to only active JSHint if the corresponding file exists.

[2016-01-20 17:19] rogatty commented on #28
That would be great, thanks :)

[2016-01-23 09:15] sauy7 commented on #23
Works for me on 8.0.3

[2016-01-23 10:10] Turbo87 commented on #23
@sauy7 awesome, thanks for the feedback!

[2016-01-27 13:42] vanadar opened #29 "add compatibility with 144.* builds"
I'm using PhpStorm EAP 144.3168 and the plugin is now incompatible.

I hope it doesn't need too much work to extend  the compatibility with theses new builds.

[2016-01-27 14:16] Turbo87 commented on #29
@vanadar thanks for reporting this. I'm currently focused on making the plugin compatible with 141.* builds (see #20) and when/if that works I'll have a look at this.

[2016-01-31 12:12] #6 closed

[2016-01-31 12:22] #23 closed

[2016-01-31 12:41] #29 closed

[2016-01-31 13:22] #28 closed

[2016-01-31 13:39] #8 closed

[2016-01-31 20:00] kgish opened #32 "java.lang.NoClassDefFoundError: java/util/function/Consumer"
Since updating to the newest release, I get a fatal IDE error which presents the following stack trace:
[code]

[2016-01-31 21:42] Turbo87 commented on #32
Thanks for reporting this. Which JRE do you use for running the IDE? I suspect that this is related to the last release being built with Java 1.8 instead of 1.7 before.

[2016-01-31 22:10] kgish commented on #32
As far as I can see, I have not updated Java recently, here is some data that I hope will help.

![ide-internal-errors](https://cloud.githubusercontent.com/assets/79195/12705331/d81d339e-c86f-11e5-9d00-54742024bfa6.png)
![ide-fatal-errors](https://cloud.githubusercontent.com/assets/79195/12705334/de49674c-c86f-11e5-9cc5-94e048def013.png)

[code]
[code]
[code]

[2016-02-01 08:40] #32 closed

[2016-02-01 08:41] Turbo87 commented on #32
@kgish I've reverted the build process to use JDK 1.7 again and only use JDK 1.8 for the latest EAP snapshot builds where JDK 1.7 is no longer supported. I will release v1.4.1 in the next minutes and hopefully it will work again with that version.

[2016-02-01 09:12] kgish commented on #32
Thanks! So do I need to reinstall the plugin as usual or are there other steps i need to take?

Also, is it recommended to upgrade my JDK to a newer version?

[2016-02-01 09:14] Turbo87 commented on #32
@kgish the IDE should show you that the "Ember.js" plugin can be updated to v1.4.1 and once you've done that and restarted the IDE it should work fine again

[2016-02-01 09:59] rogatty commented on #28
Works great, thank you @Turbo87!

[2016-02-01 11:00] kgish commented on #32
I can verify that it now works, thanks very much.

[2016-02-01 11:03] kgish opened #34 "Ember-cli editor documentation"
On the Ember-cli website under [Editors](http://ember-cli.com/user-guide/#editors), I've included a section for setting up WebStorm.

Wouldn't it be nice if you could also have a link for this plugin put there?

[2016-02-01 11:13] Turbo87 commented on #34
sure, that would be awesome. could you put it on there?

[2016-02-01 13:05] kgish commented on #34
Done. Hopefully my push request will be accepted soon.

https://github.com/ember-cli/ember-cli.github.io/pull/42

[2016-02-01 13:07] Turbo87 commented on #34
already accepted. great, thanks!

[2016-02-01 13:07] #34 closed

[2016-02-01 14:50] drewclauson opened #35 "Javascript import"
Consider this at the beginning of a controller:

[code]

When calling `this.runMethod()`, the IDE doesn't recognize the import, so `runMethod` gets a "unresolved function or method" warning.

Is there a way to support this through the plugin or am I missing a configuration setting in my IDE?  I have set the package prefix for the app folder to 'my-cool-project' in the Project Directory settings, b

[2016-02-01 14:58] Turbo87 commented on #35
I haven't figured that out either. It might be possible, but I really have no clue how. Please let me know if you find a way to make this work.

[2016-02-01 15:00] drewclauson commented on #35
I'll try to dive into it this week, thanks!

[2016-02-05 23:58] captmorgan commented on #23
sorry about the delay.  works for me as well.

[2016-02-08 10:52] janlem opened #36 "Webstorm Project Updating never stops"
Great plugin so far. Thanks!
A small issue I face: while having the plugin active the project explorer of Webstorm never stops updating the project when expanding the project folder. I can access all files via double-shift, but a usable project explorer would be nice. If you need anymore clarification, just ask!
Thanks again, keep up the good work!

PS: I'm using Webstorm 10.0.4, I hope that count

[2016-02-08 11:02] Turbo87 commented on #36
hmm interesting, I haven't noticed any such issues when I tested it with WebStorm. I'll see if I can reproduce it.

[2016-02-11 21:48] dfreeman commented on #24
@orf It's not just if you have a sluggish machine – once your apps get large enough to pull in enough dependencies, it's going to get bad no matter how snappy your hardware is :)

I also suspect that the general issues with `fseventsd` not getting along well with Ember CLI on OS X makes the indexing issues worse for Mac users as well, because there's so much thrashing in general within the project

[2016-02-12 11:33] Turbo87 commented on #24
@dfreeman I'm using a MacBook Air for development at the moment and don't have much issues with that. Once the initial indexing is done the IDE is usually quite fast again.

As mentioned before: I'm open to pull requests on this "feature", but it is low priority for me personally.

[2016-02-15 10:22] zoltan-nz opened #37 "Worker exited due to exception: it.virtualFile must not be null"
I use the latest Webstorm EAP. It drops this error. Maybe it helps.

WebStorm WS-144.3891.13
Build #WS-144.3891, built on February 10, 2016
JRE: 1.8.0_40-release-b128 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o

[code]

[2016-02-15 10:38] Turbo87 commented on #37
ouch, that certainly shouldn't happen... :wink:

[2016-02-15 10:44] Turbo87 commented on #37
@zoltan-nz **when** did this happen? did you do anything or does it happen directly on startup?

[2016-02-17 10:47] zoltan-nz commented on #37
@Turbo87 you can reproduce this issue if you open an Ember.js project, choose a file, for example `router.js` and start typing any classname or name what you imported in the top of that file, for example: "Em" or "con"

[2016-02-17 11:05] Turbo87 commented on #37
I see, thanks for the feedback

[2016-02-17 11:07] Turbo87 commented on #37
@zoltan-nz I think in https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/icons/EmberIconProvider.kt#L20:

[code]
needs to be changed to:
[code]

could you try if that works for you?

[2016-02-17 12:01] zoltan-nz commented on #37
@Turbo87 Perfect. I updated that line as you suggested, I built the plugin and imported in the latest Webstorm EAP. No exception anymore when I type "Em"... Thank you! :)

[2016-02-17 12:23] Turbo87 commented on #37
cool, would you mind opening a PR?

[2016-02-17 15:46] runspired commented on #24
`node_modules` and `bower_components` should absolutely never be indexed for Web projects, they are highly volatile.  I had to disable this plugin because it was remarking them as libraries every time I opened a project even though they were marked as excluded and I'd removed the library mapping.

[2016-02-17 15:48] runspired commented on #24
On average, I `rm -rf node_modules && npm cache clean && npm install` at least 10x a day, it takes Webstorm 15min+ of CPU cooking to finish indexing the >100mb of files that results in.

[2016-02-17 21:10] zoltan-nz commented on #37
Yes, I will do tonight. Cheers. :)

[2016-02-18 11:15] #37 closed

[2016-02-18 21:53] Kerrick commented on #24
Even marking the folders as excluded from the preferences -> project -> directories seems to be overridden by the plugin. Because I've got so many dependencies, the plugin slows my machine to an unusable crawl. I'd love to use the plugin, though!

[2016-02-19 14:58] runspired commented on #24
@Kerrick This will help, it doesn't affect WebStorm's indexing but should stop Spotlight from also indexing: https://gist.github.com/runspired/b5552be57d3c8a5a7821

[2016-02-19 15:03] runspired commented on #24
@Turbo87 this appears to be what we need to implement: http://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/creating_an_action.html

[2016-02-19 15:10] Turbo87 commented on #24
@runspired I'm not sure how an "Action" is supposed to help here.

What we need to do is add `addExcludeFolder()` calls for `node_modules` and `bower_components` to https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/project/EmberProjectComponent.kt#L130. As I've mentioned before though this should be configurable so the real work here is finding out how to add a co

[2016-02-19 15:18] runspired commented on #24
@Turbo87 that actions api is from what I can tell how you add settings to the preferences panel as well.  May have misread something.  Also note, you can't BOTH `addExcludeFolder()` and `addLibraryFolder()`, the library definition always trumps and causes indexing.

[2016-02-19 15:23] runspired commented on #24
Appears this is what we actually need to use: https://confluence.jetbrains.com/display/IDEADEV/Customizing+the+IDEA+Settings+Dialog

[2016-02-22 23:27] mahmoudimus commented on #37
Nice :) :+1: @Turbo87, when were you planning on cutting a release?

[2016-02-23 08:23] Ramblurr opened #39 "Support pods structure for related symbol navigation in components"
Using a pods structure on a project currently has inconsistent related symbol navigation support.

The navigation seems to work in top-level directories of pods like, 'pods/application' or 'pods/someotherthing'. But it does not work for components in 'pods/components/user-list' for example.

I'm not sure if this is a bug or a feature request.

[code]

[2016-02-23 08:35] Turbo87 commented on #39
do you have a repo somewhere to reproduce this?

[2016-02-23 08:41] Turbo87 commented on #37
oh, sorry, forgot that. should be published by the end of the day.

[2016-02-23 16:59] k3n opened #40 ""Worker exited due to exception: it.virtualFile must not be null""
I'm getting the above error message multiple times a day, and I'm on:

My Ember version is `1.10.1`.

I'm not sure what's triggering it, and I'm not aware of what the implications are -- I just notice the flashing error icon in WebStorm pretty often.

Please let me know if you need more information.

[2016-02-23 17:04] Turbo87 commented on #40
@k3n please update your "Ember.js" plugin. this problem was fixed earlier today. (see #37)

[2016-02-23 17:04] #40 closed

[2016-02-24 09:31] ReyAyanami opened #41 "Support for in-repo-addons"
It would be nice to have a minimal support for in-repo-addons, at least for `app` folder that merging wtih main application

[2016-02-24 09:39] Turbo87 commented on #41
@ReyAyanami sounds reasonable. would you like to work on that?

[2016-02-24 09:49] ReyAyanami commented on #41
@Turbo87 actually i'm a JS developer... i'll try anyway

[2016-02-28 19:33] Ramblurr commented on #24
This issue rears its ugly head especially when you are using `npm link` to  link a locally-devloped addon into your main app's node_modules folder. Unlike other items in node_modules, these linked addons include their own node_module folder (e.g., app-repo/node_modules/local-linked-addon/node_modules/....) which makes the indexing process take a very, very long time.

[2016-03-02 14:50] raido commented on #36
I have the same issue with PHPStorm 9.0.2 - i have tried rm -rf .idea in project root, still the same.

[2016-03-03 14:32] raido commented on #36
@Turbo87 Maybe this log helps - https://gist.github.com/raido/3c41f33fe9738e0457f3

[2016-03-07 05:34] raido commented on #36
@Turbo87

Update: https://intellij-support.jetbrains.com/hc/en-us/community/posts/206332899-Why-some-folders-don-t-display-subfolders-files-in-Project-View-in-WebStorm-?page=1#community_comment_207342339

The problem with PHPStorm seems to be that plugin adds "public" folder as source folder with type "java-resource", but PHPStorm does not have handler for dealing with such a resource and thus fai

[2016-03-07 06:30] Turbo87 commented on #36
hmm, that is quite surprising because it seemed to work just fine in WebStorm for me. unfortunately I haven't found out how to determine the IDE name and version programmatically to conditionally use the resource folder only on IntelliJ.

[2016-03-07 07:26] raido commented on #36
If i mark public as resource via context menu in PHPStorm, it gets added to .idea/webResources file instead of .idea/project-name.iml where the plugin originally adds it.

[2016-03-07 15:34] raido commented on #36
@Turbo87 I tested PR with PHPStorm 9.0.2 and it worked fine did rm -rf ./idea, installed plugin and project navigator worked fine.

[2016-03-22 15:35] k3n opened #43 "Plugin automatically creates "library roots" which kill performance"
Greetings,

After a long [debugging session with JetBrains' support](https://youtrack.jetbrains.com/issue/WEB-20199), we've deduced that this plugin is creating library roots out of my projects `node_modules` and `bower_components` directories. I'm not sure what features this powers within the plugin, but it makes performance in any non-trivial project completely unusable.

I can try to provide as

[2016-03-22 15:40] Turbo87 commented on #43
@k3n this sounds like a duplicate of #24

[2016-03-22 15:45] k3n commented on #43
Yup! Thanks, I'll close this one in favor of that one.

[2016-03-22 15:45] #43 closed

[2016-03-22 15:47] Turbo87 commented on #43
@k3n if you got a bit of time feel free to help with #24

[2016-03-22 15:47] k3n commented on #24
Had to disable the plugin due to this issue -- I'm in the same boat as @runspired, and echo his first 2 comments on this issue (from 2/17). I also echo @Ramblurr's comment re: `npm link` on a locally-dev'd addon, which I also do.

[2016-03-22 16:11] k3n commented on #43
I left a comment, but I'm not sure what else I can offer -- I'm still pretty green to Ember, and have never done any Idea plugin work.

[2016-03-25 00:39] larryh opened #44 "How to fire up 'ember generate'?"
I hate to ask this, but how do you fire up the "ember > generate" dbox from within RubyMine?

I've looked all through the menus and could not find an "ember" anywhere.

I did a Ctrl-Shift-a to bring up the "Enter Action" dbox, but when I type "ember" or "ember generate" nothing happens.

Specifically, when I type "ember" a bunch of options appear in a drop-down. The first one is "Ember.js files",

[2016-03-25 08:40] Ramblurr commented on #24
I temporarily worked around this by building the plugin with this patch

[code]

[2016-03-27 14:48] larryh commented on #44
Well, now when I when I fire up the RM "Enter Action" dbox and type "ember" the "Ember.js files" entry is enabled and the dbox comes up.

Beats me...

[2016-03-27 16:56] larryh commented on #44
And now it's no longer working. The "Ember.js files" entry is disabled.

Like I said: beats me.

[2016-03-27 18:25] Turbo87 commented on #44
The way it works is right clicking on a folder and adding the file from there.

[2016-03-27 18:25] #44 closed

[2016-03-28 13:39] larryh commented on #44
Thanks. (Sorry I didn't get that.) And thanks for the plug-in!

[2016-03-30 13:25] Turbo87 commented on #36
should be fixed by #42

[2016-03-30 13:25] #36 closed

[2016-04-02 13:38] janlem commented on #36
I'm still seeing the problem in version 1.4.2 of the plugin. Will there be a newer version available through the Webstorm Plugin Repository that contains the fix?

[2016-04-02 18:30] Turbo87 commented on #36
@janlem the patch hasn't been released yet, but I'll publish it soon

[2016-04-02 18:31] janlem commented on #36
Ok, thanks for letting me know. And thank you for your effort!

[2016-04-02 19:38] #24 closed

[2016-04-04 08:39] janlem commented on #36
Thanks again for the fix. Version 1.5.0 works for me, too!

[2016-04-07 22:40] pongo commented on #8
window 10, webstorm 11.0.3, ember.js plugin 1.5.0

`
  Problem running ember-cli:
  Cannot run program ".\node_modules\.bin\ember": CreateProcess error=2, Не удается найти указанный файл (cannot find the file)
`

[2016-04-07 22:52] pongo commented on #8
window 10, webstorm 11.0.3, ember.js plugin 1.5.0

I am trying to add new route 'ddd' and get error:

[code]

I have ember in my project's `node_modules\.bin\`:
[code]

Process Monitor logs:

[code]

In the folder `C:\Program Files (x86)\JetBrains\WebStorm 11.0.3\jre\jre\bin` no folder `node_modules`

[2016-04-07 23:06] Turbo87 commented on #8
@pongo thanks for reporting this. it looks like we need to use `ember.cmd` on windows instead. could you open this as a new issue so I don't forget about it?

[2016-04-07 23:16] pongo opened #46 "Need to use ember.cmd on windows"
windows 10, webstorm 11.0.3, ember.js plugin 1.5.0

I am trying to add new route 'ddd' and get error:

[code]

I have ember in my project's `node_modules\.bin\`:
[code]

Process Monitor logs:

[code]

In the folder `C:\Program Files (x86)\JetBrains\WebStorm 11.0.3\jre\jre\bin` no folder `node_modules`

[2016-04-07 23:17] pongo commented on #8
@Turbo87 ok. new issue #46

[2016-04-08 06:43] Turbo87 commented on #46
@pongo could you test if it works when you change https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/cli/EmberCli.kt#L14 from `ember` to `ember.cmd`? if it doesn't try also replacing the forward slashes with back slashes.

[2016-04-08 11:11] pongo commented on #46
Let's see.

**1. Change from ember to ember.cmd**

Same error `Cannot run program ".\node_modules\.bin\ember.cmd": CreateProcess error=2`

Process Monitor log:
[code]

**2. Change to `".\\node_modules\\.bin\\ember.cmd"`**

All the same. Nothing has changed.

**3. Change to `GeneralCommandLine(workDirectory + "/node_modules/.bin/ember.cmd")`**

It finds!

[code]

I even see "generate ember route" d

[2016-04-08 11:51] Turbo87 commented on #46
does it work with `workDirectory + "/node_modules/.bin/ember"` too?

[2016-04-08 12:31] pongo commented on #46
no

[2016-04-12 13:31] chriskrycho opened #47 "Cannot run program "./node_modules/.bin/ember""
Whenever I try to run the Ember commands, I get the following error:

[code]

Ember-CLI works fine from the command line (including running exactly that command). Might be a configuration error on my end; happy to provide more details to help suss out the cause.

[2016-04-12 13:36] Turbo87 commented on #47
@chriskrycho on which platform are you running this? is this similar to #46?

[2016-04-14 21:24] larryh commented on #47
Hi,

I just experienced the same problem. It does appear to be similar to #46, except I am not running on Windows.

Platform: Ubuntu 15.10 and RubyMine 2016.1

BTW, your plugin was working awhile ago. I just upgraded ember-cli to 2.4.3 (from 2.4.2, I believe). Maybe that has something to do with it.

-- Larry
-- Larry

[2016-04-15 00:11] chriskrycho commented on #47
Sorry for the delay, @Turbo87; busy couple days. Currently config:

- OS X 10.11.4
    - Ember CLI 2.4.2
    - Node 5.9.0
    - IntelliJ IDEA 2016.1.1
        - Ember.js plugin (this) 1.5.0

[2016-04-15 16:33] nikdojo commented on #47
Hey man!
Same here:

- OSX 10.11.4
- WebStorm 2016.1.1
- Ember-cli 2.4.3

[2016-04-15 23:51] arcaynus commented on #47
I am in the same boat, I am using:

- OSX 10.11.4
- PHP Storm 2016.1.1
- Ember-cli 2.4.3

It does not seem like after running npm install -g ember-cli on the command line put ember in the location the plugin is looking for.  Command line works fine.

[2016-04-17 09:10] Turbo87 commented on #47
@chriskrycho it seems that this broken with 38c7de67f3139ffde2ce3a6cf02b1257cc08977c, but I'm currently pretty clueless *why* it broke...

[2016-04-17 09:56] Turbo87 commented on #47
@chriskrycho looks like the issue you're running into will be solved by https://github.com/Turbo87/intellij-emberjs/commit/f7086730899732d40b1d6e0fc9bd10ade87d610e and #48

[2016-04-17 11:52] #46 closed

[2016-04-17 11:52] #47 closed

[2016-04-17 13:50] chriskrycho opened #49 "Include router in class search"
It would be quite helpful if router instances were included in the list of classes. I can get there fairly easily, of course, by navigating to the file proper, but especially with the notion of local routing coming at some point with engines and local resolution, it will be really nice.

This isn't urgent by any means; just a very big "would be nice."

[2016-04-17 14:09] Turbo87 commented on #49
I think with the whole new module system I might have to rethink a lot of the current concepts anyway. I'd be happy to review any PRs in that direction though :wink:

[2016-04-18 19:41] pongo opened #51 ""Choose Target" menu in related symbols after upgrade to WebStorm 2016.1.1"
"Choose Target" menu appears when I select Navigate → Related symbol:

![2016-04-18_223236](https://cloud.githubusercontent.com/assets/142528/14617081/932d73a6-05b5-11e6-9625-faa21259f8f3.png)

Before upgrade to 2016.1.1 switching was instantly, without "choose target"

[2016-04-19 07:40] Turbo87 commented on #51
I'm not quite sure yet what's happening there, but I'm seeing the same problem in IntelliJ 2016.

[2016-04-19 14:40] asquet commented on #46
I get the same error with the latest (1.5.1) plugin version
Win7, WebStorm 11.0.3

[2016-05-31 09:49] Ramblurr commented on #39
I can't seem to reproduce this anymore, I chalk it up to some indexing hijinks.

[2016-05-31 09:49] #39 closed

[2016-05-31 10:02] Ramblurr opened #52 "Tests appear before implementations in Navigate Class list"
When using a pods structure, the tests for a route/controller etc appear before the actual implementation.

See this example:
![](https://cloud.githubusercontent.com/assets/14830/15670485/09525cf4-2726-11e6-91a3-5927dafca489.png)

It would be nice if the tests appeared last in the list.

[2016-05-31 10:08] Turbo87 commented on #52
I think this is related to the pods prefix thing. Since pods are essentially deprecated and will be replaced with the module unification RFC I won't put a lot of energy into this, but I'd be happy to review and merge any solutions to this problem.

[2016-05-31 14:31] Ramblurr commented on #52
Sounds good, waiting until the new module rfc lands is fine with me.

[2016-05-31 14:31] #52 closed

[2016-06-28 13:32] svyatogor opened #53 "Plugin doesn't seem to work with multiple modules"
Hi! I am not sure if I am doing it right, in which case please correct me. I have a project which consists of a few ruby services and a couple of emberjs apps. So I decided to add those as module to an empty IntelliJ project. I go to Project Structure, Add > Import module. The module is correctly identified as EmberJS. But when added the app folder is not recognized as source root, neither are nod

[2016-06-28 14:18] Turbo87 commented on #53
@svyatogor that is unfortunately one of those rare use cases that I haven't cared much about when developing this plugin. I'd be happy to review and merge any pull requests that solve the issue though.

[2016-07-12 17:23] dwickern commented on #35
Does it work with a relative import like `import AwesomeMixin from '../mixins/awesome-mixin';` ? I don't think intellij understands what `my-cool-project` is

[2016-07-12 17:30] Turbo87 commented on #35
@dwickern yes, relative imports should be resolved by IntelliJ automatically

[2016-07-26 13:26] basz opened #59 ""esnext": true vs "esversion": 6,"
Upgraded to ember-cli 2.7.0 and now I see warnings like;

'JSHINT let is available in es6 (use esnext option)'

whilst the upgrade options instructed me to replace `"esnext": true,` with `"esversion": 6,` in `.jshintrc`.

[2016-07-26 16:05] Turbo87 commented on #59
This is most likely not related to this plugin but to the jshint feature of intellij itself. You should probably open an issue on their bug tracker instead. Thanks for reporting though!

[2016-07-26 16:05] #59 closed

[2016-08-01 11:09] #41 closed

[2016-08-06 10:45] AndriusZid commented on #35
Hi, @Turbo87,
I also have issue with "unresolved function or method" but it is test files when importing "qunit" module. All ember-testing helpers are unresolved like andThen and findWithAssert methods which are defined in node_modules directory somewhere. Is it possible to resolve those methods and make them work with auto-completion?

Thanks

[2016-08-06 11:06] Turbo87 commented on #35
@AndriusZid I'm not aware of any solution for this right now. I'm using Mocha instead of QUnit, but that's just personal preference.

[2016-08-29 23:21] millerbill3 opened #61 "No ember-cli support in IDE"
Hi, I recently installed the ember plugin to IntelliJ (Ultimate 2016.2 edition) and then imported a new ember project. I can see that the folders have been properly identified as the description describes, but when I attempt to do File -> New -> Ember.js code I don't see this option available. Am I doing something wrong?

[2016-08-29 23:26] millerbill3 commented on #61
Please disregard... It looks like I didn't have the correct folder selected before attempting to generate new code.

[2016-08-29 23:26] #61 closed

[2016-09-02 17:56] msmyers commented on #53
+1

I have 10 modules in one of my projects and always wondered why the plugin was kick-ass in my solo module project but absent in my multi-module project.

Came here to find out why, and bam, it's the first issue.

[2016-09-08 10:49] Turbo87 commented on #53
any of you have an open source repo that shows the issue that you're talking about?

[2016-09-12 12:48] Turbo87 commented on #51
@denofevil got a few seconds to explain what happened to this feature in 2016.1? are we misusing the [Related Symbol](https://github.com/Turbo87/intellij-emberjs/blob/master/doc/features.md#navigate--related-symbol) feature in this plugin or is this expected behavior?

[2016-09-12 14:25] denofevil commented on #51
@Turbo87 I think that's expected behaviour. If there's more than one related for given context symbol popup will be shown. Here's the example from RubyMine, go to related symbol is called in Rails controller
<img width="378" alt="screen shot 2016-09-12 at 17 23 34" src="https://cloud.githubusercontent.com/assets/32124/18439364/0e9673fc-7916-11e6-8704-02d7a73c0a72.png">

[2016-09-12 14:49] Turbo87 commented on #51
Okay, that means that I haven't misunderstood the feature and everything is working correctly in the plugin. Do you know why the `Ember (order.js)` entry appeared in 2016.1? The plugin is providing the icon for the file, but it is not adding that related symbol there from what I can tell.

[2016-09-12 14:51] denofevil commented on #51
@Turbo87 that's because I've added imported symbols to the related files for ES6)

[2016-09-12 15:31] #51 closed

[2016-09-12 15:33] Turbo87 commented on #51
okay, I guess that means there's not much we can do about it then. are the imported symbols supposed to use the icon of the containing file (`order.js` in this example)?

[2016-09-22 11:27] Turbo87 opened #68 "InvalidVirtualFileAccessException"
[code]

[2016-09-25 21:23] Turbo87 opened #69 "{{link-to}} cross referencing"
in `{{#link-to "foo.bar"}}foobar{{/link-to}}` we should add clickable references on `foo` and `bar` to their corresponding routes, controllers and templates

[2016-09-26 19:53] #69 closed

[2016-09-27 13:25] rattigan opened #73 "Very large polyglot project fails to open with ember plugin installed"
I was using the ember plugin with a new ember project, which was working fine. But when I open a different large project, IDEA hangs. Mostly the project is gradle/java/js/html, although there is at least one ember module in there.

Disabling the ember plugin solved the problem, but for obvious reasons that's not ideal...

[2016-09-27 14:04] Turbo87 commented on #73
@rattigan are you able to debug this and see *where* in the code it's hanging? haven't had any major issues like that myself. is that project available somewhere to try or is it closed-source?

[2016-09-28 17:02] pswenson opened #74 "executing ember server/test/run configs in intellij"
Does this plugin facilitate  running ember server, tests, setting breakpoints, etc in IJ?

thanks

[2016-09-29 07:35] Turbo87 commented on #74
@pswenson you can run `ember serve` and `ember test` in IntelliJ, but so far this plugin doesn't have any special code that configures that for you. it looks roughly like this:

![bildschirmfoto 2016-09-29 um 09 33 59](https://cloud.githubusercontent.com/assets/141300/18944841/ea559d8c-8627-11e6-8213-4d5412bb10f5.png)

[2016-09-29 07:35] #74 closed

[2016-09-29 09:00] Turbo87 opened #75 "Indexing for in-repo-addons"
The changes in #72 most likely broken indexing of in-repo-addons since they have no `.ember-cli` file in their root folder. We can detect if the parent folder of the found `package.json` file is named `lib` though and then look for the `.ember-cli` file in its parent folder.

The alternative is properly parsing the `package.json` file and looking for an `ember-cli` dependency, but I'm not sure if

[2016-09-29 15:17] rattigan commented on #73
I'm afraid it's closed source. I can try to point visualvm at it when I get a chance - might be a few days.

[2016-09-29 15:28] Turbo87 commented on #73
@rattigan okay, cool. let me know if you find anything.

[2016-09-29 15:30] rattigan commented on #73
One possible clue is that I see ~500 threads while it is running (from Activity Monitor) vs ~50 normally.

[2016-09-29 15:34] Turbo87 commented on #73
hmm, that is indeed unusual. I'm not explicitly starting any threads in the plugin though, so I'm not sure how that happens. (one exception is when running Ember CLI generators, but that only happens when explicitly triggered)

[2016-09-29 15:56] rattigan commented on #73
It seems like there are many threads all trying to do the same thing. There's no reference to the plugin in their stack trace, but I'm assuming that the plugin is somehow triggering these tasks.

   ApplicationImpl pooled thread 547;"100.0";"4611752";"0";"1"
    java.lang.Thread.run();"100.0";"4611752";"0";"1"
     java.util.concurrent.ThreadPoolExecutor$Worker.run();"100.0";"4611752";"0";"1"

[2016-09-29 15:57] rattigan commented on #73
On the plus side, I've found that the project will open after about 5 mins...

[2016-09-29 16:05] Turbo87 commented on #73
does it always spend those 5 mins or just for the first successful run?

[2016-09-29 16:33] rattigan commented on #73
It happens each time I open the project.

On Thu, 29 Sep 2016, 12:06 Tobias Bieniek, <notifications@github.com> wrote:

[2016-10-10 13:33] rwwagner90 opened #76 "Tons of indexing"
Could we mark bower_components and node_modules as excluded? Unsure if it indexes them as library root or not, but I get a ton of indexing for no reason all the time.

[2016-10-10 13:55] Turbo87 commented on #76
done 😉

see https://github.com/Turbo87/intellij-emberjs/issues/24

[2016-10-10 13:55] #76 closed

[2016-10-10 14:20] rwwagner90 commented on #76
@Turbo87 if this is done, do you have any idea why indexing would be happening so much and for so long then?

[2016-10-10 14:30] Turbo87 commented on #76
@rwwagner90 you need to explicitly disable indexing of those folders in the plugin settings. Indexing them has some advantages, but at this time I tend to agree that they are mostly not worth the extra CPU cycles so I'm thinking of switching the default in the near future.

[2016-10-10 14:32] rwwagner90 commented on #76
@Turbo87 how would I go about doing that? I'm unsure how to change the settings.

[2016-10-10 14:33] rwwagner90 commented on #76
Never mind, I found it

[2016-10-10 14:35] Turbo87 commented on #76
hmm, indeed that settings dialog page isn't really documented anywhere. do you feel like opening a PR to fix that?

[2016-10-10 20:16] Turbo87 commented on #73
@rattigan did you try to disable indexing of the `node_modules` folder?

[2016-10-12 14:56] Turbo87 opened #77 "Support for "ember-intl""
see https://github.com/jasonmit/ember-intl

what we could eventually do:
- translation key auto completion and referencing in templates
- "Extract translation" intention
- show translation instead of key like Android Studio

/cc @jasonmit

[2016-10-15 07:18] Turbo87 commented on #49
I've actually found out by now that all the files in the `app` folder are added to the container as e.g. `router:main` and `app:main`, so we should probably modify our filepath-to-module-name algorithm to account for these files and our name formatter to drop the `main` suffix or format it somewhat differently.

[2016-10-20 08:46] Turbo87 opened #78 "References for {{link-to}} helper"
The target part of the `{{link-to}}` helper should be referenced to the corresponding route, controller and template.

[2016-10-24 09:17] mihaiscurtucb opened #79 "Support `podModulePrefix` config option"
Granted I'm on an older version of ember and ember-cli so maybe it's a non issue, but maybe there's something i'm missing. Here is my issue:

![image](https://cloud.githubusercontent.com/assets/9959183/19640054/bcb7bbba-99e3-11e6-94ed-a542a6c4feff.png)

The component should be `ui-panel`, not `pods.components.ui-panel`.

[2016-10-24 09:22] Turbo87 commented on #79
hmm, you are using a `podsPrefix` setting, right? Haven't worked with something like that yet so it's likely that it is not supported yet.

[2016-10-24 09:24] mihaiscurtucb commented on #79
@Turbo87

Yes, this is in my `environment.js` file:

[code]

I wish i knew the first thing about Kotlin and Idea plugins so I could give you a PR 😢

[2016-10-24 10:27] Turbo87 commented on #79
Unfortunately I'm having similar problems. I do understand Kotlin but developing Idea plugins certainly isn't a well documented thing... 😕

[2016-10-27 15:09] Turbo87 opened #80 "Add "readonly" helper to auto completion"
Just like the [`mut`](http://emberjs.com/api/classes/Ember.Templates.helpers.html#method_mut) helper, the (currently undocumented, but existing) `readonly` helper should be part of the [auto completion code](https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/hbs/HbsCompletionContributor.kt).

[2016-10-27 15:45] Turbo87 opened #82 "Gutter icons for injected services"
We could display a "service" gutter icon on lines that inject services using `inject.service()`.

[2016-10-27 15:45] #80 closed

[2016-10-27 17:20] Turbo87 opened #83 "Port AngularCLI code from official plugin"
The official [Angular plugin](https://github.com/JetBrains/intellij-plugins/tree/master/AngularJS) has some code to support generating files through Angular CLI and we should probably "steal" it... 😉

[2016-10-31 03:06] kitsunde opened #86 "Is it possible to get it to understand relative paths in styles?"
If I have  file in `./app/styles` referencing a file in `./public` it the PyCharm linter will underline it as being a nonsense path. Like say:

[code]

Is it possible to make it smart enough to understand it's referencing that directory?

[2016-10-31 07:21] Turbo87 commented on #86
I'm pretty sure that it is possible, but unfortunately I have no clue how to do it.

[2016-10-31 08:16] #75 closed

[2016-11-01 17:42] Turbo87 commented on #78
apparently I'm stupid... https://github.com/Turbo87/intellij-emberjs/issues/69

[2016-11-01 17:42] #78 closed

[2016-11-01 18:06] Turbo87 commented on #69
looks like this doesn't work anymore with v2016.2 and above... 🤔

[2016-11-02 18:17] #82 closed

[2016-11-06 11:36] #77 closed

[2016-11-06 13:55] Turbo87 opened #92 "Support ember-intl "baseLocale" property"
Instead of defaulting to `en` we should read the [`baseLocale`](https://github.com/jasonmit/ember-intl/blob/master/packages/ember-intl/blueprints/ember-intl/files/config/ember-intl.js#L29) property of the `config/ember-intl.js` file and if that is not set we should use `en-us` or `en` as fallbacks

[2016-11-06 16:43] #92 closed

[2016-11-06 16:46] Turbo87 opened #94 "Support "ember-intl" translations in JSON format"
https://github.com/jasonmit/ember-intl#translations

[2016-11-06 19:45] #94 closed

[2016-11-07 08:15] jasonmit commented on #77
I love this, I want to also see how viable porting this functionality to atom will be.  Also, feel free to advertise it anywhere in the README.

[2016-11-07 08:56] Turbo87 commented on #77
implementing it is actually not that hard. the hard part is figuring out how the APIs work, if they even exist, how the ASTs/PSIs look like, etc.

[2016-11-08 22:40] #86 closed

[2016-11-08 22:41] Turbo87 commented on #73
Closing due to inactivity

[2016-11-08 22:41] #73 closed

[2016-11-08 22:41] Turbo87 commented on #68
Hasn't happened ever since...

[2016-11-08 22:41] #68 closed

[2016-11-11 22:36] dwickern opened #99 "Can't import Ember projects"
IntelliJ detects a "Web" project instead of "Ember.js"

git bisect blames this commit: 0945404b5d80f86ec9e192260aec7b3df2933436

(make sure to delete `.gradle` and `.sandbox` between each test)

Tested with
- IntelliJ IDEA 2016.2.5 Build #IU-162.2228.15, built on October 14, 2016
- Ember plugin version 2016.2.4-0

[2016-11-11 22:41] Turbo87 commented on #99
@dwickern I'd be very surprised if that commit was indeed responsible for breaking our code... 🤔

[2016-11-11 22:49] dwickern commented on #99
It works if I get rid of the `<depends>` in `plugin.xml`

[2016-11-11 22:54] dwickern commented on #99
Hmm, I think it's supposed to be just `yaml` instead of `org.jetbrains.plugins.yaml`

[2016-11-11 23:21] Turbo87 commented on #99
what are the implications of detecting a "Web" module instead? Can we "solve" that by using the FrameworkDetector instead?

[2016-11-11 23:40] dwickern commented on #99
Here's all I see when it's imported as a Web module

<img width="356" alt="screen shot 2016-11-11 at 3 28 19 pm" src="https://cloud.githubusercontent.com/assets/752885/20233363/ac812a30-a823-11e6-9cff-502dc3af6c51.png">

[2016-11-11 23:43] Turbo87 commented on #99
😒

[2016-11-12 00:09] Turbo87 commented on #35
for reference: https://youtrack.jetbrains.com/issue/WEB-21959

[2016-11-14 12:47] Ramblurr commented on #99
I'm experiencing this as well, except the project fails to import entirely when being imported as a sub module.

It is auto-detected as type "Web", then I click finish and nothing happens, the module is not imported.

Reverting all the way back to v2016.2.1 fixes the issues.

[2016-11-15 08:11] panthony commented on #99
Same issue here and I confirm that reverting back to `v2016.2.1` fixed the issue.

Thanks for the hint !

And keep up your awesome work, love this plugin !

[2016-11-15 09:11] #53 closed

[2016-11-15 09:11] #99 closed

[2016-11-16 14:47] anstarovoyt opened #104 "WS2016.3 support"
Hi! WS2016.3 is out and we need a compatible plugin version for it

[2016-11-16 15:47] Turbo87 commented on #104
I just published [v2016.3.1](https://plugins.jetbrains.com/update/index?pr=&updateId=30266), thanks for the hint!

[2016-11-16 15:47] #104 closed

[2016-11-16 21:57] anstarovoyt commented on #104
it was fast, thank you!

[2016-11-17 08:10] Turbo87 commented on #104
I had prepared for that already in https://github.com/Turbo87/intellij-emberjs/pull/101, just hadn't put out the release yet 😉

[2016-11-18 16:33] #35 closed

[2016-11-22 09:15] danr1979 opened #106 "Plugin 'Ember.js' is incompatible with this installation"
Hi.

I have just purchased the latest version of PHP Storm (2016.2.2) and have tried installing your plugin for my Ember development but I get the error in the title of this issue.  Will your plugin eventually be compatible with this version of the IDE or is there a way around this error please?

Many thanks.

[2016-11-22 10:24] Turbo87 commented on #106
how did you try to install it? did you follow the instructions [here](https://github.com/Turbo87/intellij-emberjs#installation)?

[intellij-emberjs v2016.2.6](https://github.com/Turbo87/intellij-emberjs/releases/tag/v2016.2.6) is the latest version that is compatible with PHP Storm v2016.2.2 and in theory that is what should be offered to you if you install the plugin through the [JetBrains Plugin

[2016-11-22 10:39] danr1979 commented on #106
Ah apologies, I simply downloaded the zip & pointed to it in PHP Storm. I'll do it from the Jetbrains repository instead.

Thanks.

[2016-11-22 10:39] #106 closed

[2016-11-22 14:36] Ramblurr opened #107 "Accessing "class name" from live templates with pods"
I'm trying to create some helpful live templates that need to reference the name of the open "class".

By this I mean if I am editing `person/model.js` I mean the `person` class. However the following [pre-defined template functions](https://www.jetbrains.com/help/idea/2016.2/live-template-variables.html) return nothing:
* `className`
* `jsClassName`
* `completeClassName`

`fileName()` of courses

[2016-11-22 14:50] Turbo87 commented on #107
I would certainly like that, but I have no clue yet how to implement it. Feel free to open a PR though! 👍

[2016-11-23 17:32] srvance opened #108 "Project generator issues"
I am using IntelliJ Ultimate 2016.3 and intellij-emberjs 2016.3.2 installed through the plugin repository. I generated an Ember application project and found two things different from what I would get if I ran `ember new` and imported the project from source.

1. The bower_components directory was not marked as a Library Root. Comparing it to another project that was imported from source, the `<or

[2016-11-23 17:36] Turbo87 commented on #108
@srvance thanks for reporting this!

[2016-11-23 19:52] dwickern opened #110 "Can't import project after installing node modules"
I found this while testing with [crates.io](https://github.com/rust-lang/crates.io). Not sure if it's a bug in the plugin or IntelliJ.

If I install node modules then try to import the project, IntelliJ detects the project root as some Java code in `node_modules`:

<img width="925" alt="screen shot 2016-11-23 at 11 47 11 am" src="https://cloud.githubusercontent.com/assets/752885/20576464/e8d070d8-

[2016-11-23 20:03] Turbo87 commented on #110
@dwickern looks like the Java detector has a high priority 😕

fortunately though you don't have to "import from existing sources" anymore, you can just open the project folder and the Ember CLI framework should be detected automatically.

[2016-11-23 20:09] dwickern commented on #110
Huh, that does work. I thought I tried that.

The docs are a bit out of date then, but I'll close this.

[2016-11-23 20:09] #110 closed

[2016-11-30 20:21] Turbo87 opened #111 "Exclude ".node_modules.ember-try" folder"
just like the `tmp` folder

[2016-12-09 14:34] adc-mhaugen opened #112 "Quick navigation to matching test file"
Thanks for this plugin, it really helps.  I was wondering if it would be possible to get quick navigation to corresponding tests from components/routes/controllers, etc.  For example, if I'm in a component JS file, could we select a menu item, or hit a keystroke combo that would open the integration test for that component?

[2016-12-09 14:39] Turbo87 commented on #112
@adc-mhaugen that should already work. have a look at https://github.com/Turbo87/intellij-emberjs/blob/master/doc/features.md#navigate--related-symbol

[2016-12-09 14:46] adc-mhaugen commented on #112
Thanks so much for the quick answer.  If I'm in a component file and I hit Navigate > Related Symbol I get a "Choose Target" popup where I can choose between the component file and the template.  If I'm in the component template it takes me straight to the JS file.  If I'm in the test it allows me to choose between modules I've imported into that test.  I don't see an option to toggle between the

[2016-12-09 14:50] Turbo87 commented on #112
![bildschirmfoto 2016-12-09 um 15 49 48](https://cloud.githubusercontent.com/assets/141300/21052825/23c42e30-be27-11e6-86f8-575106fce464.png)

this is how it should look like if you use the default folder structure for your project. in this case I've used https://github.com/TryGhost/Ghost-Admin as an example.

[2016-12-09 14:53] adc-mhaugen commented on #112
I see.  Perhaps it's because we are using the pod structure?  Regardless, the related symbol is still really useful.

[2016-12-09 15:00] Turbo87 commented on #112
Yeah, pods could be a reason for that. Since pods is essentially deprecated and will be replaced by the new module unification rfc thingy I've chosen to not put anymore work into supporting that though. I hope you understand...

[2016-12-09 15:00] #112 closed

[2016-12-09 15:00] adc-mhaugen commented on #112
Sure, that make sense.  Thanks again!

[2016-12-14 16:36] Ramblurr opened #113 "Nested component dot path completion should be replaced with slash (/) path completion"
For nested component templates, intellij-emberjs currently offers `.`  completion.

Example:

![core-group_template_hbs_-_rug_-____src_cropster-maude_](https://cloud.githubusercontent.com/assets/14830/21190901/bf547120-c223-11e6-85cb-e02da7b7a224.png)

However, with Ember 2.10 the `.` syntax is no longer supported and [everyone should switch to `/` syntax](https://github.com/emberjs/ember.js/issue

[2016-12-14 16:37] Turbo87 commented on #113
good point, thanks!

[2016-12-16 08:19] Cryrivers opened #114 "Add an option to disable i18n support"
`defaultLocale` is not always a constant in project. If it is a variable, intellij-embers would fail to read translation and result into the screenshot below.

![screen shot 2016-12-16 at 4 15 20 pm](https://cloud.githubusercontent.com/assets/1313238/21256084/13b9d5c4-c3ab-11e6-8d90-2faf21edb10d.png)

So I think we should have an option to disable i18n support.

[2016-12-16 15:46] Turbo87 commented on #114
indeed, we should probably just disable support for this feature if the locale can't be read

[2016-12-19 21:35] srvance opened #115 "Support http-mock generation"
Support the generation of `http-mock`s. Node completions should be activated. Should the `server` count as a separate module?

[2016-12-19 21:59] dwickern commented on #115
The `http-mock` blueprint should work once #98 lands.

[2016-12-20 22:39] srvance commented on #115
That sounds great.

[2017-01-09 18:44] nadnoslen commented on #113
Upvote.

(Thanks again for this plugin)

[2017-01-09 19:49] seawatts opened #118 "Issue where a route/model/controller called "service" shows up as a service icon in the folder tree"
![image](https://cloud.githubusercontent.com/assets/2148546/21780742/9d36dab8-d661-11e6-8704-edc1c146956b.png)

[2017-01-09 22:52] dwickern commented on #118
I suspect the file is being detected as the "models" service under pods structure. The detection [prefers pods structure over classic](https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/resolver/EmberName.kt#L42-L48) (whether or not you use the pods structure in your app).

[2017-01-09 22:53] seawatts commented on #118
Ah, that makes sense. Yeah I'm using classic stucture.

[2017-01-10 08:17] Turbo87 commented on #118
I have to admit that I can't remember why pods structure is being prefered. I'm open to PRs that change that, as long as we have proper tests in place for this.

[2017-01-10 08:19] Turbo87 commented on #113
@Ramblurr @nadnoslen this should be a relatively easy bugfix, feel free to open a pull request for this :)

[2017-01-10 10:01] Ramblurr commented on #113
I poked into the source seeing if I could add this relatively easily, but wasn't succesful. Here's what I tried. Keep in mind this is my first time around this part of the IntelliJ SDK.

The `com.emberjs.hbs.HbsReferenceContributor` registers two element patterns with the `HbsComponentReference`.

1. `HbsPatterns.BLOCK_MUSTACHE_NAME`
2. `HbsPatterns.SIMPLE_MUSTACHE_NAME`

I figured these patterns

[2017-01-10 10:28] Turbo87 commented on #113
@Ramblurr actually we don't seem to be caring about the separator that much in the HBS AST at all. I guess the magic is in https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/lookup/EmberLookupElementBuilder.kt#L11, but I'm not sure right now where else that class is used, so be careful about just removing that line.

[2017-01-11 07:16] gpluta opened #120 "cosmetic issue - Invalid icons in *.js files called `component`, that are not a component"
Any file (route handler, model) that is called `component.js` is displayed with a componenc (</>) icon.

Here is some proof to show you what I mean :)

![image](https://cloud.githubusercontent.com/assets/9517223/21839083/254ee8f8-d7d6-11e6-8a58-9a4d03095c28.png)

![image](https://cloud.githubusercontent.com/assets/9517223/21839054/f9511e42-d7d5-11e6-8183-269659227c25.png)

Cheers!

[2017-01-11 07:30] gpluta commented on #120
Oh I see this is the same issue as here: https://github.com/Turbo87/intellij-emberjs/issues/118
Sorry for a duplicate issue.

[2017-01-11 07:31] #120 closed

[2017-01-13 10:02] Ramblurr opened #121 "Project detection not working in PHPStorm"
The plugin is working great in IntelliJ, however one of our devs uses PHPStorm, which AFAIK is Webstorm + PHP support.

When he attempts to create a new PHPStorm project from existing files, the ember project detection doesn't work.

1. File -> "New Project from existing files" leads to this dialog:
    ![upload](https://cloud.githubusercontent.com/assets/14830/21925841/82b9e61e-d97f-11e6-8a6c-0c7

[2017-01-13 10:22] Turbo87 commented on #121
@Ramblurr tl;dr is that we've replaced our previous framework detection with an `FrameworkDetector` implementation. this means that you can just open the folder of an Ember app in the IDE and it will detect Ember projects and offer to reconfigure the IDE for you.

What PHPStorm version is your dev using?

[2017-01-14 01:18] nadnoslen opened #122 "Quick Navigation To Util Tests Does Not Work"
It doesn't appear that this plugin respects _utils_ in the same way that it respects other elements of EmberJS.

My `app/utils/` classes are hard to find using `CMD-O` _class search_.  In addition to that, I cannot quick-navigate (CMD-SHIFT-T) back and forth between a util class and its test.  I'm sure there are other symptoms of utility classes not working as expected; those are the two I bump in

[2017-01-14 02:11] dwickern commented on #122
You're right, we don't index the modules in `/app/utils`. Utils should be included in the search since it's an official module type: https://ember-cli.com/user-guide/#module-directory-naming-structure

We will need define `UTIL` in [EmberFileType](https://github.com/Turbo87/intellij-emberjs/blob/1e2eb7247d0ed4a12bcc40d259d5ee3877e8b8ab/src/main/kotlin/com/emberjs/EmberFileType.kt) and I think incr

[2017-01-14 19:42] Turbo87 commented on #122
@dwickern the "issue" is that utils are usually not used through the container, so something like `util:foo-bar` doesn't make much sense. it appears that my initial thought of modeling these things after the container references wasn't such a great idea after all...

[2017-01-14 20:11] nadnoslen commented on #122
They're not much different from _mixins_ yet you appear to be indexing those?

[2017-01-15 21:28] nadnoslen commented on #113
I have a couple of quite large Ember applications that have a hundred or more components, some nested in directories, some not.  I've leveraged the auto-complete of my IDE using this plugin and have dug a deep hole where it concerns making my app Glimmer2-ready.

I took a little time yesterday to write a Ruby script that combs through my EmberJS application and replaces MOST (not all) dot-notation

[2017-01-18 02:17] vlascik opened #123 "Some code completion ideas"
Thanks for the great work on the plugin, especially i18n completion is a major time-saver.

Is it possible to do code completion also:
* in js, for `get/set()` variable names, at least for `this`
* in hbs templates for variable/function/action names on current component/controller
* in js, perhaps it's possible to hint correct objects for service injections
* maybe also complete on return statemen

[2017-01-18 16:37] #113 closed

[2017-01-18 16:37] Turbo87 commented on #113
@dwickern in addition to #119, do you think it would make sense to write a quickfix that converts from dots to slashes automatically?

[2017-01-18 16:42] dwickern commented on #113
@Turbo87 [ember-watson](https://github.com/abuiles/ember-watson) might be a better fit for that sort of thing

[2017-01-19 16:52] joegaudet opened #124 "Feature Request: Support XUnit Test Runner"
First of all, thanks so much to all who have contributed to this plugin. We make extensive sue of it at our company.

Second of all, with the caveat that I have no idea how tricky this might be to implement.

It would be awesome if we could run tests from the standard IDEA test interface and have it report in the xunit test reporter. I'd be happy to contribute some time to help make it happen if t

[2017-01-19 17:35] Turbo87 commented on #124
@joegaudet something like that should certainly be possible, but as you can imagine finding out how is the hardest part about implementing something against a largely unknown API 😉

[2017-01-19 17:52] joegaudet commented on #124
Yeah fair point @Turbo87, I would imagine if we got ember cli to output in xunit format, it should be a matter of copying the rake plugin.

[2017-01-19 18:08] joegaudet commented on #124
@Turbo87 do you think this is something that would have merit inside of this plugin?

[2017-01-19 19:46] Turbo87 commented on #124
I guess it would be nice, yeah. Although the main difference to the usual test runners is that you can't actually use it in debug mode and set breakpoints etc., so I'm not sure how useful it will actually be in the end.

[2017-01-22 18:54] joegaudet commented on #124
Intelligence supports remote debugging, I imagine one could tie the two
together some how.
On Thu, Jan 19, 2017 at 11:47 AM Tobias Bieniek <notifications@github.com>
wrote:

[2017-01-23 09:48] mydea commented on #121
Hey,

I'm using the latest version, PhpStrom 2016.3.2, and the latest version of the Ember.js plugin.
I just tried again, just opening an ember app/addon in the IDE does not trigger the Ember.js plugin.

[2017-01-23 09:53] Turbo87 commented on #121
@mydea thanks for the feedback. I'll see if I can find out what's going on.

[2017-01-23 12:29] mydea commented on #121
Oh, and as a note, I'm running Windows 10, not sure if that can have anything to do with it.

[2017-01-23 16:21] lvegerano opened #126 "Code colors are being changed"
I use color to visually locate certain things in the code. In this case the styles of parameters inside a `js` function is carried into the function itself but it breaks once the plugin is installed 😢 .

http://quick.as/zvDetmmLa

[2017-01-23 16:32] Turbo87 commented on #126
@lvegerano sorry, I have no idea how we could possibly break that behavior with our implementation. feel free to debug this though if you have a bit of time.

[2017-01-23 16:52] dwickern commented on #121
I was able to reproduce this in PHPStorm 2016.3.2

[2017-01-23 18:30] dwickern commented on #121
I can't seem to get the FrameworkDetector working. Maybe it's not supported in PHPStorm? I would test how the angular plugin works in PHPStorm if I had more time.

What I can do for you right now is fix our ProjectConfigurator. This would let you open an ember app in the root project folder but not detect ember projects in subdirectories.

[2017-01-24 00:32] nadnoslen commented on #113
Hey Gang,
Thanks for the fix!  However, I'm now noticing that **route** auto-completion is not following dot-notation.  In the Ember Guide (https://guides.emberjs.com/v2.10.0/routing/defining-your-routes/#toc_nested-routes):

I'm pretty sure these should stay with the dot-notation.  Any thoughts?

(PS. thanks for the note about ember-watson)

[2017-01-24 07:20] mydea commented on #121
That would be awesome and absolutely good enough.
As a side note, I've seen that e.g. Laravel has a setting that you can toggle the plugin manually, `Enable this plugin for this project`. Not sure if that would be an option, but it seems nice (and also makes it quite easy to check if the project detection has actually worked).

[2017-01-24 07:52] Turbo87 commented on #113
@nadnoslen looks like we missed that part 😞

could you open a separate issue for that and crosslink this issue here?

[2017-01-26 06:30] nadnoslen opened #128 "Nested Route Paths Should Use dot-notation"
A recent change made in issue #113 has broken the proper dot-notation auto-completion for Route (and Controller) paths.  For example, in template references using `{{link-to}}`:

    {{#link-to "some/nested/directory/route"}}Link Label{{/link-to}}
    {{!-- should instead be written: --}}
    {{#link-to "some.nested.directory.route"}}Link Label{{/link-to}}

and in JS references:

    // app/routes

[2017-01-26 15:33] dwickern commented on #128
@rwjblue to clarify, we should use slashes for component invocations inside templates (`{{foo/bar/baz}}` or `{{yield (component "foo/bar/baz")}}`) and dots everywhere else (link-to, javascript code)?

[2017-02-03 15:15] localpcguy opened #129 "Allow component names to be styled separately from component attributes"
The Handlebars styling seems to lump all attributes under the same style in the Options menu, and it'd be great if there is a way to style component names separately.

[2017-02-04 21:39] cbornhoft commented on #121
Can confirm this is is not working in PhpStorm 2016.3.2 for our devs as well. I'll try out the fork and see if that fixes it!

[2017-02-05 09:41] Turbo87 commented on #128
@dwickern yes, I think thats correct

[2017-02-05 09:43] #126 closed

[2017-02-05 09:49] Turbo87 commented on #121
this should be fixed as best as we can by #127 and will be released as v2016.3.5 soon

[2017-02-05 09:49] #121 closed

[2017-02-16 11:23] Turbo87 opened #130 "Gutter icons for model relationships"
Similar to the gutter icon for service injections we should display a clickable icon for model relationships

[2017-02-16 18:15] #128 closed

[2017-02-23 11:10] mohamnag opened #132 "Feature Request: Run configuration with debug mode"
That would be very nice for fast inspection of states and variables if there was a way to debug an ember app using intellij. I found [this](https://intellij-support.jetbrains.com/hc/en-us/community/posts/207632025-Debugging-an-Ember-application) which I'm not sure if has been further considered or not, but maybe there could be some configuration done in ember-cli config so that it generates proper

[2017-02-23 11:13] Turbo87 commented on #132
see https://github.com/Turbo87/intellij-emberjs/pull/109

[2017-02-23 11:13] #132 closed

[2017-02-23 11:14] mohamnag commented on #132
oops sorry, just searched between issues. thx

[2017-02-27 17:50] joegaudet opened #134 "Support for pods style in autocomplete"
Use case:

Our project has components organized in the following way

features
+-- components
       +-- foo

The autocomplete in handlebars is always prefixing features/components on my templates, similarly when autocompleting routes it prefixes the string with features.

Would be good to have something like 'component root' and 'route root' ?

[2017-02-28 09:32] Turbo87 commented on #134
@joegaudet I'm not sure I understand. Can you add a screenshot of the autocompletion not working as expected?

[2017-02-28 17:13] joegaudet commented on #134
So heres trying to auto complete a component, but components helpers are loaded from /feature/components and not /

![screen shot 2017-02-28 at 9 09 26 am](https://cloud.githubusercontent.com/assets/123911/23415979/e2c6639a-fd95-11e6-80cc-1e41926f7d72.png)
![screen shot 2017-02-28 at 9 09 51 am](https://cloud.githubusercontent.com/assets/123911/23415978/e2adc8c6-fd95-11e6-844a-90a77e6a8b08.png)

S

[2017-03-08 14:41] tylergets opened #135 "Support jumping to components in subdirectories based on . notation"
The editor autocompletes components that are in subdirectories of the component folder using dot notation, however jumping with CMD+B does not work.

[2017-03-08 15:01] Turbo87 commented on #135
@tylergets what version of the plugin are you using? it should autocomplete with slash separators in the most recent version and reference lookup works for me too for nested components.

[2017-03-08 15:04] tylergets commented on #135
Is slash preferred over dot? Its likely my plugin needs updating.

[2017-03-08 15:08] Turbo87 commented on #135
yes, dots was never supposed to be supported and support for that was removed in a recent Ember release iirc

[2017-03-08 15:08] Turbo87 commented on #135
see https://github.com/Turbo87/intellij-emberjs/issues/113

[2017-03-22 14:03] Turbo87 opened #136 "Add support for "ember-template-lint""
see https://github.com/rwjblue/ember-template-lint

/cc @rwjblue

[2017-03-28 18:44] joegaudet opened #137 "Support imports from root"
So with the release of 2017.1 we've got some auto import management in intellij.

It would be awesome if you could some how intercept the pathing that it generates, and instead of it using relative paths, use absolute paths from root.

Example:

import {Time} '../../../transforms/time';

Would rather

import {Time} '<my-project>/transforms/time';

Not sure if this is a thing you could do or not, b

[2017-03-29 04:00] dwickern commented on #137
I did something similar in #103 to resolve module paths with the app root prefix. I wonder if `JSModuleReferenceContributor` is in play when IntelliJ searches for exports.

[2017-04-06 23:45] tylergets opened #138 "Support for PhpStorm"
PhpStorm has all the javascript and HTML features offered in WebStorm, could we add support for PhpStorm? Thanks!

[2017-04-06 23:46] #138 closed

[2017-04-06 23:46] tylergets commented on #138
Closed this as I am just silly, it works great. Thanks

[2017-04-18 18:55] joegaudet commented on #134
@Turbo87 Is this something that might be possible?

[2017-04-19 12:12] Turbo87 commented on #134
it might be possible, but since pods are essentially deprecated I will not work on this myself. feel free to work on an implementation of this though.

[2017-05-08 19:28] beastie87 opened #141 "New Ember.js Files"
I have problem running ember-cli: Process did not exit properly (code = 127). Please try again on the command line.
What's wrong?
OS: Linux, Ubuntu 16.04
node v6.7.0
ember-cli 2.13.1

[2017-05-09 09:32] Turbo87 commented on #141
sorry, I can't answer this question without more information. did it work when you ran the same thing on the command line?

[2017-06-12 07:20] IgorKvasn opened #144 "better addons support"
Hi,
addon support was introduced in the latest release, however it supports file navigation only within `app/` directory. It is still not possible to navigate to files in `addon/` directory.
(note: I am testing it on in-repo addon - I am not sure if it works on a regular addons).
Could you pls support `addon/` directory as well?

[2017-06-12 14:49] IgorKvasn commented on #144
this is my addon's file structure (addon is called _form-config_) - notice that component `field-modul` is in `addon/` as well as `app/` directory

![image](https://user-images.githubusercontent.com/2052652/27039386-1739906c-4f8e-11e7-904d-ebbfc753ef96.png)

however when I search for a class `field-modul` I get only one result in  `app/` directory:
![image](https://user-images.githubusercontent.co

[2017-06-12 15:06] dwickern commented on #144
Unfortunately some of this plugin's features are not implemented for pods. Since pods are no longer supported by ember-cli, we feel that our limited time is better spent elsewhere. Sorry about that :(

[2017-06-12 15:06] #144 closed

[2017-06-18 10:12] #135 closed

[2017-06-18 10:13] Turbo87 commented on #134
closing this for now

[2017-06-18 10:13] #134 closed

[2017-06-18 10:14] Turbo87 commented on #124
closing due to inactivity

[2017-06-18 10:14] #124 closed

[2017-06-18 10:15] #17 closed

[2017-06-18 10:15] Turbo87 commented on #79
since pods are essentially deprecated I'm not going to put any more work in on supporting them in this plugin, sorry

[2017-06-18 10:15] #79 closed

[2017-06-18 10:16] Turbo87 commented on #107
since pods are essentially deprecated I'm not going to put any more work in on supporting them in this plugin, sorry

[2017-06-18 10:16] #107 closed

[2017-06-28 20:17] #130 closed

[2017-06-30 20:49] GCheung55 opened #149 "v2017.1.3-0 - Find by Class has incorrect in-app-repo file reference"
I'm using v2017.1.3-0 with Webstorm 2017.1.1.

The class name I enter points to the wrong file in an in-app-repo.

For example, I have an in-repo-addon named `activities-engine`.

![image](https://user-images.githubusercontent.com/46033/27753466-96d983f8-5d9a-11e7-8f6a-0289ffd5d941.png)

When finding `activity route` I get a file in (activities-engine addon) which opens the `lib/activities-engine/

[2017-07-14 17:10] dwickern commented on #149
@GCheung55 I'm not sure why you only see the one entry for the class. There should be two since the class exists in `app` and `addon`. They have the same text, which should be fixed, but that won't help you if you're only seeing one entry.

<img width="539" alt="screen shot 2017-07-14 at 10 03 38 am" src="https://user-images.githubusercontent.com/752885/28222321-e0ee1c24-687b-11e7-80ab-0dae2ff95d0

[2017-07-19 23:49] vlascik opened #151 "Snippets for new modules api"
How about some snippets similar to https://atom.io/packages/ember-module-snippets ? This could help with the learning curve for new modules api layout a lot.

[2017-07-19 23:56] Turbo87 commented on #151
@vlascik to be honest I'd rather just have the IDE suggest the right import automatically instead of adding snippets that you would have to manually invoke

[2017-07-20 00:06] dwickern commented on #151
I would much rather have auto imports like in JVM languages, but not sure if that will ever happen...

I noticed IntelliJ supports javascript auto-import already in some cases. If you have this module
[code]

and in another file you type `foo` then Ctrl-Space, it will autocomplete to
[code]

Maybe all we need is typescript definitions for the new ember modules

[2017-07-20 00:50] Turbo87 commented on #151
Not sure if those are auto-imported in JS files too, but for TS files that should probably work

[2017-07-20 01:08] vlascik commented on #151
Hm typescript definitions seem to be doable, https://www.typescriptlang.org/docs/handbook/modules.html#working-with-other-javascript-libraries . Maybe these could be generated from data at https://github.com/ember-cli/ember-rfc176-data with a script similar to ones that are there already.

You can use TS definitions in JS too, just go to Settings -> Languages & Frameworks -> Javascript -> Librarie

[2017-07-20 01:45] dwickern commented on #151
The auto imports work for typescript...

<img width="476" alt="screen shot 2017-07-19 at 6 36 44 pm" src="https://user-images.githubusercontent.com/752885/28396582-415aa3a0-6cb1-11e7-9aaa-30e33a0dc035.png">

I can't get it working for javascript sources. It autocompletes global declarations but won't import from an ambient module.

[2017-07-20 06:33] Turbo87 commented on #151
@denofevil any clue how we can make this work in JS files?

[2017-07-21 08:21] anstarovoyt commented on #151
@Turbo87 @vlascik can you pleasee share the typescript definitions?

[2017-07-21 15:55] dwickern commented on #151
@anstarovoyt this is what I'm testing with:
[code]

[2017-07-24 10:25] vendethiel opened #152 "Import ember modules"
Hi,

I'm trying to figure out if there's a way to get IntelliJ to recognize correctly the imports from ember.

i.e.
![image](https://user-images.githubusercontent.com/199499/28519263-2dde2b40-706b-11e7-8d29-1b99f1a9316b.png)

In the first case, it's simply that "ember" doesn't exist.
In the second case, it's because emberjs addons use a specific layout, so the file actually isn't in that path.

Is

[2017-07-24 10:30] Turbo87 commented on #152
the second one should actually work. what version of the plugin are you on?

[2017-07-24 11:47] vendethiel commented on #152
2017.2.1-0

[2017-07-24 11:49] vendethiel commented on #152
Just to be clear, for the second one:

![image](https://user-images.githubusercontent.com/199499/28522070-dbfc1876-7076-11e7-878f-3b9ce9126230.png)

The "addon" folder is what bugs it out.

If I write

[code]

then intellij can find it (but it's incorrect obviously).

[2017-07-24 11:50] Turbo87 commented on #152
@dwickern any idea why this might not be working?

[2017-07-24 14:28] dwickern commented on #152
I have the same problem on plugin version 2017.2.1-0 but it works fine on master branch 🤔

[2017-07-24 14:46] vendethiel commented on #152
When I compare between 2017.2.1 and master: https://github.com/Turbo87/intellij-emberjs/compare/v2017.2.1...master

I see this commit: d760843614c1e766eab64a0c21cd5d80c586ce95

Seems to be it?

[2017-07-26 15:42] vlascik opened #153 "For ember-intl, ctrl clicking in {{t}} helper doesn't seem to complete/navigate when translations are in subfolders"
According to https://github.com/ember-intl/ember-intl#translations you can split your translations into several files/directories, e.g. `/translations/homepage/en-us.yaml`.
But then the completion/navigation doesn't work. Would be nice if it did, the translation file sizes can get really out of hand.

[2017-07-26 22:34] vlascik commented on #151
So, got bored, and created a script to generate `ember.d.ts` based on RFC 176 data: https://github.com/ember-cli/ember-rfc176-data/pull/25

Generated file here: https://gist.github.com/vlascik/678b7163f2cd62241b3ede0a0fe66c87

Module name completion should work, but as said previously, in JS files, auto imports don't.

[2017-08-14 20:16] jnegro opened #154 "Problems setting ember-cli package path"
I'm running PyCharm Professional 2017.2.1 and Ember.js plugin 2017.2.1-0 on Ubuntu Linux (MATE desktop) 17.04.  When I try to set up a new ember-cli project, I'm having problems setting the path to the ember-cli package.  First, if I try to manually set the path, my keyboard entry gets all garbled up.  Next if I try to navigate to the directory, it will not clear the error about  unspecified ember

[2017-08-22 10:16] marcvangend opened #155 "Run 'ember serve' from the IDE"
Feature request: it would be really nice if we can run 'ember serve' from the IDE, just like I can start a vagrant box, or run a gulpfile. (I'm using PhpStorm myself but I assume this would apply to all JetBrains products.)

[2017-09-17 10:10] #111 closed

[2017-09-29 15:06] Turbo87 opened #159 "Make {{partial "foo/bar"}} clickable"
Cmd-clicking the `foo/bar` in `{{partial "foo/bar"}}` should jump to the corresponding template

[2017-09-29 16:15] dwickern commented on #159
Also `foo/bar` in `{{component "foo/bar"}}` and `{{my-component subComponent=(component "foo/bar")}}`

[2017-10-03 17:58] localpcguy opened #160 "Exception in plugin, WebStorm 2017.2.4"
Got an exception in WebStorm, error message: `it must not be null`

Stack trace from WebStorm below:

[code]

[2017-10-03 17:59] Turbo87 commented on #160
thanks! any idea what might have triggered this or how to reproduce it?

[2017-10-03 21:36] localpcguy commented on #160
I just upgraded WebStorm, and it started throwing that error. It was happening consistently anytime I closed and re-opened WebStorm. However, I've tried 2 different Ember apps now and it's no longer happening. I'll see if I can reproduce and let you know.

[2017-10-04 13:50] localpcguy commented on #160
I have not seen this again - I'm going to chalk it up to weirdness right after the update that one of the restarts (or maybe one of the other plugin updates) resolved. I'll re-open if it re-occurs and I can pin it down.

[2017-10-04 13:50] #160 closed

[2017-10-04 16:34] Turbo87 commented on #160
okay, thanks!

[2017-10-05 14:38] patric-eberle opened #161 "Exclude /blueprints folder"
For our projects we use some customized blueprints. Those are indexed as well by default, but not needed in general production. Would be nice if this folder (/blueprints/*) could be excluded automatically as well like node_modules/bower_components.

[2017-10-05 14:48] Turbo87 commented on #161
I don't think that would be a good idea in general for people that develop blueprints. Since you can easily add the exclusion manually I won't implement this here. Sorry!

[2017-10-05 14:48] #161 closed

[2017-10-09 13:45] BennyAlex opened #162 "Update plugin on JetBrains repositories"
On JetBrains repositories is still the old 2017.2.1-0

[2017-10-09 13:50] #162 closed

[2017-10-15 22:53] mk-conn opened #163 "Inspection: Unused default module for 'export default'"
In every ember component, route, etc... this inspection error comes up. I already wrote Jetbrain Support about it, but they pointed on the emberjs plugin. I can not really verify that the plugin is the cause for this...
![screen shot 2017-10-16 at 00 52 09](https://user-images.githubusercontent.com/5840922/31590186-59de3784-b20c-11e7-8dc9-f416cba2d9bc.png)

[2017-10-16 07:58] Turbo87 commented on #163
@mk-conn that is a built-in inspection of IntelliJ and not really related to this plugin. I'd recommend to just turn of the inspection completely for Ember.js projects.

[2017-10-16 07:58] #163 closed

[2017-10-24 10:04] #155 closed

[2017-11-03 04:42] loganrosen opened #168 "Model with name of "service" has service icon"
I have a model called "service," and the plugin shows a service icon for it instead of a model icon. It should probably just recognize that it's a model since it's in the `models` folder, not the `services` folder.

<img width="331" alt="screen shot 2017-11-02 at 9 40 59 pm" src="https://user-images.githubusercontent.com/512317/32360801-92dfaf6e-c016-11e7-8830-622f495162c0.png">

[2017-11-03 04:45] loganrosen commented on #168
Whoops, this is a duplicate of #118. Should've looked closer before filing. Sorry!

[2017-11-03 04:45] #168 closed

[2017-11-10 09:49] Turbo87 opened #169 "Fix translation analysis for whitespace in tokens"
e.g. `foo { bar } baz` vs `foo {bar} baz`

[2017-11-16 10:03] Turbo87 opened #170 "Collapse `this.get('foo')` to `this.foo` placeholder"
Similar to how we use collapsing to display the actual translations for `{{t "foo"}}` we could collapse `foo.get('bar')` calls and show `foo.bar` as a replacement instead to make the code more readable.

[2017-11-21 10:39] makepanic opened #174 "Create/run test run configuration from test gutter"
Intellij supports creating and running a test configuration by clicking on a test line marker.

![20171121-111137](https://user-images.githubusercontent.com/1205444/33067851-c56c90c6-ceaf-11e7-9638-b2acbe644a35.png)

This probably requires a:
- runLineMarkerContributor at each test/describe
- runConfigurationProducer to handle creating a test run configuration from a PsiElement

[2017-12-04 10:35] makepanic commented on #136
Some possible ideas on how to solve this issue:
- run template-lint as [cli executable](https://github.com/rwjblue/ember-template-lint#cli-executable) for each file that's expected to be linted
- get "inspiration" from the open source [eslint plugin](https://github.com/idok/eslint-plugin)

[2017-12-04 10:39] Turbo87 commented on #136
@makepanic I think if we want to take inspiration from the ESLint integration we should look at the built-in functionality of IntelliJ (or their JS plugin), instead of an external plugin.

[2017-12-04 11:54] makepanic commented on #136
👍 it's located in

`
/ideaIU-173.3622.25/plugins/JavaScriptLanguage/lib/JavaScriptLanguage.jar!/com/intellij/lang/javascript/linter/eslint
`

[2017-12-08 11:47] shcherbanikolay opened #176 "String index out of range"
Hello. My RubyMine raise me ide fatal error. Before this i have trables with very long indexing, and as a result it raise error. Here is a error log.

[code]

[2017-12-08 20:15] paulcwatts opened #177 "Ember Serve run configuration doesn't use the project's Node interpreter"
I noticed that the new "Ember Serve" run configuration doesn't seem to use the Node interpreter that's defined by the project. I'm not sure which Node it's using, perhaps the first one in the path.

Where this becomes a problem is if your project depends on a version of node that isn't the default, and you use nvm to switch between different node version. That's why WebStorm has a "Project" Node i

[2017-12-09 12:11] #177 closed

[2017-12-09 16:31] paulcwatts commented on #177
Thank you! 👏

[2017-12-13 21:55] acdn-mmadden commented on #176
I'm having the same trouble in WebStorm 2017.3.1 (build `#WS-173.3942.31`)...

[code]

[2017-12-17 23:09] teejayhh opened #179 "Add support for monorepos"
We as a company have adopted the monorepo (https://developer.atlassian.com/blog/2015/10/monorepos-in-git/) structure to have access to multiple addons and apps all at once.  This kind of structure makes it easier to work with addons accross multiple apps. Unfortunately this addon doesn't really work with monorepos as the cli file is not located in the root but in each applications / addon. Therefo

[2017-12-18 00:24] dwickern commented on #179
We depend on framework detectors to import from subdirectories, which only works in IDEA according to the WebStorm lead: https://github.com/Turbo87/intellij-emberjs/pull/127#issuecomment-274816296. I'm not sure if multiple apps/addons at the same time will work. Maybe you could try with an evaluation license of IDEA and report back?

[2017-12-21 09:14] Turbo87 opened #180 "null cannot be cast to non-null type kotlin.String"
[code]

[2017-12-21 09:19] huberts opened #181 "Run Configuration per module"
Hi!
It would be great to add selecting module/working directory in Ember Serve Configuration.
Right now, my project contains multiple modules (one of them is EmberJS) and I cannot use the ES Configuration.

[2017-12-21 09:20] Turbo87 commented on #181
/cc @makepanic

[2017-12-22 13:03] Turbo87 commented on #180
this was using code from https://github.com/Turbo87/intellij-emberjs/pull/173, which was not merged, so this issue is now irrelevant

[2017-12-22 13:03] #180 closed

[2017-12-29 20:23] Turbo87 commented on #170
closing, see https://github.com/Turbo87/intellij-emberjs/pull/173#issuecomment-353299698

[2017-12-29 20:23] #170 closed

[2018-01-02 12:16] makepanic commented on #181
Hi @huberts,
would something like the nodeunit `Working directory` picker be enough to solve your issue?

![20180102-130105](https://user-images.githubusercontent.com/1205444/34483504-2ea89c8a-efbf-11e7-9fa7-6f84df3de389.png)

[2018-01-02 12:59] huberts commented on #181
I think so. It would be great :-)

[2018-01-02 13:42] makepanic commented on #181
@Turbo87 should `Working directory` be under `Advanced settings` or an always visible option?

[2018-01-02 16:45] Turbo87 commented on #181
Can't we detect the right one automatically?

[2018-01-02 18:53] makepanic commented on #181
You mean to only allow configuring known `EmberModuleType` modules?
That also works.

I've tinkered around and `myModulesComboBox?.fillModules(serveConfiguration.project, EmberModuleType.instance)` in combination with a `com.intellij.application.options.ModulesComboBox` creates a usable result:

![20180102-190136](https://user-images.githubusercontent.com/1205444/34495699-a8f37ec4-eff6-11e7-94f1-e

[2018-01-08 12:46] martynling commented on #176
I have exactly the same error as @acdn-mmadden with the latest build of PhpStorm:

PhpStorm 2017.3.2
Build #PS-173.4127.29, built on December 22, 2017
JRE: 1.8.0_152-release-1024-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.13.2

[2018-01-19 21:46] nadnoslen commented on #151
I just recently upgraded my main project to Ember-2.16 and would love my JetBrains IDE to auto-import.  I'm speculating that we've still got many things to figure out.

I've **hacked** some Live Templates together; over in this Gist: https://gist.github.com/nadnoslen/82e29fae98d12bbc81e6614abdd211dd

Here's an example, it's manual and it kind of auto-completes for you:

![ember-2 16-imports-demo](

[2018-01-20 12:38] Turbo87 commented on #181
yeah, something like that. make sure to automatically select one of the options by default instead of using `[none]`

[2018-01-20 14:42] makepanic commented on #181
We could also disallow empty selection. The screenshot above explicitly allowed it via `allowEmptySelection`

[2018-01-25 07:19] shofmannka opened #182 "String index out of range: 12"
I have received the following bug, see below. The error message occurred after stating WebStorm and loading my Ember project.
Best regards Stefan

String index out of range: 12
java.lang.StringIndexOutOfBoundsException: String index out of range: 12
	at java.lang.AbstractStringBuilder.substring(AbstractStringBuilder.java:933)
	at java.lang.StringBuilder.substring(StringBuilder.java:76)
	at java.la

[2018-01-25 15:38] Turbo87 commented on #182
this seems to be the same as https://github.com/Turbo87/intellij-emberjs/issues/176

[2018-01-25 15:38] #182 closed

[2018-01-25 21:12] nadnoslen commented on #151
Until the IDE can do this better, I've packaged up my live templates for just these Ember-2.16+ imports.  The attached `live-templates.zip` that contains only the one live template group: "Ember.js-2.16+ Import Templates"...and it looks like this:

![default_preferences](https://user-images.githubusercontent.com/4681678/35412395-4cec4a1c-01d9-11e8-9a8b-1a311ecea8cf.jpg)

[live-templates.zip](https

[2018-01-31 23:10] G-Rath commented on #176
I've been getting this error a lot when working on a React project, to the point where I've had to disable the plugin.

[2018-02-01 13:03] mabab opened #183 "Worker exited due to exception: it must not be null"
Hi I have error into PHPStorm 2017.3 !!!

Worker exited due to exception: it must not be null
java.lang.IllegalStateException: it must not be null
	at com.emberjs.index.EmberNameIndex$Companion$getFilteredKeys$filter$1.value(EmberNameIndex.kt:49)
	at com.emberjs.index.EmberNameIndex$Companion$getFilteredKeys$filter$1.value(EmberNameIndex.kt:26)
	at com.intellij.util.FilteringProcessor.process(Filt

[2018-02-05 11:03] philrennie commented on #176
Just got this opening up an ember-cli project I've not touched for a couple of months

PhpStorm 2017.3
Build #PS-173.3727.138, built on November 28, 2017
JRE: 1.8.0_152-release-1024-b6 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Mac OS X 10.12.6

String index out of range: 6
java.lang.StringIndexOutOfBoundsException: String index out of range: 6
	at java.lang.AbstractStringBuilder.subs

[2018-02-06 18:02] dwickern opened #184 "Detect addons by package.json keywords"
Ember-cli detects addons based on the keywords field in package.json ([source](https://github.com/ember-cli/ember-cli/blob/a4734540b3889c7f6ef304fe6a81dd356f77bfe4/lib/models/addon-discovery.js#L198)):
[code]

We currently look for a `.ember-cli` file in the directory but not all addons have it. For example [ember-code-snippet](https://github.com/ef4/ember-code-snippet).

[2018-02-06 18:05] Turbo87 commented on #184
Checking the keywords would certainly be the better option, but it is also a little more complex to code so I used `.ember-cli` as a good-enough heuristic. Feel free to adjust this if you think it's worth it.

[2018-02-10 18:49] Turbo87 commented on #176
I have trouble reproducing this issue. It seems to be caused somewhere inside the `FileReferenceSet` class, but I have no idea what bad thing I might be passing into it to cause this error 🤔

@denofevil are you aware of any bugs in the platform code that might be causing this or am I doing something incorrectly?

[2018-02-10 19:15] G-Rath commented on #176
@Turbo87 If it helps, I believe I was getting this consistently with a .jsx file - It felt to me like the plugin looked at the JSX code, assumed it was Ember-related code, and tried to parse it, but failed because it wasn't actually Ember code.

I'll re enable the plugin tomorrow at work, and see if I can reproduce it again.

[2018-02-13 14:33] denofevil commented on #176
I'm seeing one change JetBrains/intellij-community@ee338e0f4ffcd844d2e5b38ae0a6f4e3ed5ad344 that seems very relevant. Some sample code to reproduce would be nice

[2018-02-17 17:52] vlascik opened #186 "Translation suggestions shown from all open projects instead of just a current one"
Seems that if you have more than one ember project open, the translation completion on `{{t}}` helper shows entries from all open projects, not just a current one.
Using `ember-intl`.

[2018-02-26 02:21] vlascik opened #187 "Errors after update to 2018.1"
Seems that these happen in non-js projects (php in this case), but break things like highlighting in js/ts projects too. Worked fine in 2017.3 right before the update.

Error while indexing \\
or
Error while indexing P:\Project\something.php
[code]

[2018-02-26 07:19] Turbo87 commented on #187
Are you using IntelliJ itself or some other version like Webstorm, etc?

[2018-02-26 10:50] vlascik commented on #187
IntelliJ

[2018-02-28 17:54] vlascik commented on #187
The errors show up immediately after you install the PHP plugin, I imagine it will happen with PHPStorm and others as well.
The problem seems to be that this returns null on PHP files (some are included in that plugin):
[code]
called from
[code]
I managed to build the plugin, but I don't know why ember is processing PHP files in the first place, most breakpoints don't work for me, kotlin is just n

[2018-03-05 16:42] discopatrick opened #188 "Allow the user to specify where the Ember root directory is"
We are having a problem using this plugin, because our Ember project (and thus our `node_modules` directory) is not in the project root. This is because our project consists of various sub-projects, including a Django REST backend (in a `backend` dir), as well as the Ember project (in a `frontend` dir).

When we try to run the Ember Serve run configuration, we get the error `Error running 'MyProje

[2018-03-18 10:14] IgorKvasn commented on #188
I've got a similar project setup as you:
[code]
and this plugin runs without a problem.
I am not sure how to help you though :(

[2018-03-22 17:23] DuckoDeath opened #189 "how about some goto convience"
How about the ability to:
- from a component .js, goto the .hbs (and vice versa).
- from anything, goto the test

just a right click goto->test/template would be awesome
Is this possible?

[2018-03-22 17:26] dwickern commented on #189
We have this actually 😄
`Navigate -> Related symbol`

[2018-03-22 17:26] #189 closed

[2018-03-22 17:46] DuckoDeath commented on #189
ah yes, nice!!
But, missing test navigation me thinks.

[2018-03-29 06:28] bedrosenator opened #190 "autocomplete for components with pods structure doesn't work"
After last update I noticed that autocomplete for components in templates with pods structure doesn't work

[2018-03-29 06:30] Turbo87 commented on #190
what specifically do you mean by "last update"?

[2018-03-29 06:33] bedrosenator commented on #190
There was update from jetbrains for webstorm. And I updated emberjs plugin for webstorm IDE. So current version is 2017.3.2-0
With previous version of this plugin autocomplete works well

[2018-03-29 06:43] Turbo87 commented on #190
which version did you use before?

[2018-03-29 06:47] bedrosenator commented on #190
I'm not sure what version was that, but there were different icons for routes, models , services. Hmm.., Maybe it is jetbrains downgraded that plugin version in their last update

[2018-03-29 07:30] bedrosenator commented on #190
Sorry, this not an issue of your plugin. I've installed it manually in webstorm and it works well. So it is an issue of webstorm update
Thanks for fast answer

[2018-03-29 07:41] Turbo87 commented on #190
okay, thanks for the feedback

[2018-03-29 07:41] #190 closed

[2018-04-02 16:23] localpcguy commented on #187
Can verify this happens in PHPStorm as well after updating to the 2018.1 version

same error as what is listed above (just with a different PHP filename)

[2018-04-03 12:14] Turbo87 commented on #187
what version of the plugin are you running in 2018.1?

[2018-04-03 12:47] iqdoq-dfischer opened #191 "Ember Serve Run configuration broken after update to 2018.1.1"
Updated WebStorm from 2017.3.5 to WebStorm 2018.1.
The same Ember Serve Run Configuration worked in 2017.3.5.
After the update to WebStorm 2018.1 and updating the Ember Plugin to 2018.1.1-0 the following error is printed to the run console after hitting the Run button:

"C:\Program Files\nodejs\node.exe" C:/Users/dfischer/sources/iqdoq/product/HyperDoc-HEAD/web-ui/node_modules/.bin/ember.cmd serve

[2018-04-03 13:03] Turbo87 commented on #191
@makepanic any ideas?

[2018-04-03 13:22] makepanic commented on #191
I'm not sure if this is related to the ember addon.
I'm on Intellij 2018.1 (linux) and the serve run configuration works without issues.

@iqdoq-dfischer does ember-cli work for you without using Webstorm? Try to nuke the node_modules in web-ui and reinstall.

From the error, it looks like somehow cmd code got mixed with JavaScript.
Maybe it's a upstream ember-cli issue :thinking:
Can you also dum

[2018-04-03 14:25] makepanic commented on #188
@discopatrick `<frontend>` is a different module in your project right?
Does this only affect the ember serve run configuration?

[2018-04-03 19:59] localpcguy commented on #187
Started seeing the issues after updating to `v2018.1.1-0` version of the plugin. Prior to updating it had gotten disabled upon updating PHPStorm to `2018.1.x`

[2018-04-03 20:08] Turbo87 commented on #187
hmm okay, thanks

[2018-04-04 07:39] discopatrick commented on #188
Yes, it's just another folder in the project. And yes, it only seems to affect the Ember side of things. For my Django backend, I can specify the Working Directory to be `backend`.

Hmm, is it possible to choose the root folder for the Ember plugin? Maybe I missed this...

[2018-04-05 06:44] thewulf00 opened #192 "PHPStorm: IDE Fatal Error since 2018.1"
I am getting this Exception constantly since I updated PhpStorm to 2018.1:
(Plugin version **2018.1.1-0**)

[code]

Please fix it soon, I like this Plugin :)

[2018-04-05 06:46] thewulf00 commented on #192
Duplicate to #187.

[2018-04-05 06:46] #192 closed

[2018-04-05 08:28] iqdoq-dfischer commented on #191
I have nuked my node_modules folder and reinstalled all modules with npm install. Same problem.
After that I upgraded my Ember version from 2.17.2 to the latest LTS version (currently 2.18.2). Problem persists.

@makepanic ember-cli works inside my web-ui folder from the windows command line: ```C:\..somelongpath..\web-ui>node_modules\.bin\ember.cmd serve``` starts the ember web server successfull

[2018-04-05 10:57] makepanic commented on #191
Can you maybe check if any of the generate functions work?
i.e. generate a route or service using the plugin.

[2018-04-05 11:37] iqdoq-dfischer commented on #191
Tried to create a new route via "Generate Ember.js Files". That doesn't work either:

Webstorm event log:
[code]

[2018-04-05 13:11] makepanic commented on #191
I guess it's a general problem on windows in how we generate `commandLine` in EmberCli.

[2018-04-05 16:04] makepanic commented on #191
I think I may know what the issue is.
On windows the current impl tries to execute the generated `ember.cmd` with node. Sadly the cmd isn't written/generated in JavaScript so it throws a SyntaxError.
If we either execute the ember script (without cmd) with node, or not run node but execute the ember.cmd directly, it should work.

@Turbo87 do you think this causes the issue? If so, what way do you

[2018-04-05 16:35] makepanic commented on #188
I was asking because we have an issue for adding support of run configuration per module: https://github.com/Turbo87/intellij-emberjs/issues/181
This wouldn't fix your issue though. So maybe it would be better to be able to set the working directory instead of a module.

[2018-04-06 06:29] thewulf00 commented on #187
@Turbo87 So do you think, you can deliver a solution? I am having this exception multiple times every day :-(

[2018-04-06 07:14] makepanic commented on #191
I'd think that executing `.bin/ember(.cmd)` is the better way as it automatically detects nodejs.
Also it allows cli to move its cli script without us having to update any paths, as it's configured in the package.json.

[2018-04-12 09:02] #187 closed

[2018-04-13 01:26] zoltan-nz opened #194 "String index out of range: 6 - java.lang.StringIndexOutOfBoundsException: String index out of range: 6"
In a huge project where are more ember application, I got the following error continuously after the latest update is installed.

[code]

[2018-04-25 16:53] dwickern opened #195 "NPE after upgrading from 2017.1 to 2018.2"
I'm seeing an error similar to #192 after upgrading:
[code]

[2018-04-30 18:01] harip0200 opened #197 "Broken pipe"

[2018-05-07 14:18] MR-H0200 opened #198 "String index out of range: 6"
String index out of range: 6
java.lang.StringIndexOutOfBoundsException: String index out of range: 6
	at java.lang.AbstractStringBuilder.substring(AbstractStringBuilder.java:933)
	at java.lang.StringBuilder.substring(StringBuilder.java:76)
	at java.lang.AbstractStringBuilder.subSequence(AbstractStringBuilder.java:912)
	at java.lang.StringBuilder.subSequence(StringBuilder.java:76)
	at com.intellij.

[2018-05-07 14:20] #198 closed, assigned to nobody

[2018-05-09 07:44] cristi-badila opened #199 "Folding of Ember18n key doesn't work if the translations object isn't exported at declaration"
Given that I have a translations file with the following content:
[code]
and the following hbs template:
[code]
when I collapse `{{t 'some-key'}}` I expect to see `some-value`

Currently this is not happening. However, if I drop the usage of `Translations` as bellow,
[code]
everything works as expected.

I'm using version `2018.1.2` of both intellij-emberjs and WebStorm.
I noticed this bug after I

[2018-05-15 14:40] #195 closed

[2018-05-17 15:42] RavenHursT opened #202 "Add support for 2018.2 EAP"
![image](https://user-images.githubusercontent.com/496983/40188194-07db85a8-59bf-11e8-8fa4-63620d7d105b.png)

[2018-05-17 15:50] Turbo87 commented on #202
it's called Early-Access-Program for a reason... 😉

[2018-05-17 16:14] RavenHursT commented on #202
I get that.. just a heads up ;-)

On Thu, 17 May 2018 at 10:50 Tobias Bieniek <notifications@github.com>
wrote:

[2018-05-30 04:16] teejayhh commented on #179
Sorry I didn't try this yet.

[2018-05-31 15:40] shoxter opened #203 "Plugin Error"
When I try to use this plugin on the latest version of IntelliJ, I get the following error:

[code]

Any ideas?

[2018-05-31 15:50] shoxter commented on #203
Never mind. Apparently you need the ultimate version of IntelliJ.

Closing.

[2018-05-31 15:50] #203 closed

[2018-06-03 08:41] SBlanc42 commented on #122
I'd like to take a shoot at this one, as it seems pretty easy and I'm a beginner, however, I dont understand what the version incrementation is for. Could anyone help me understand why it is needed ?

[2018-06-03 09:03] Turbo87 commented on #122
@SBlanc42 I'm not sure what you mean by "version incrementation" :thinking:

[2018-06-03 09:37] SBlanc42 commented on #122
@dwickern suggested that it would be needed to increment EmberNameIndex

[2018-06-03 16:04] dwickern commented on #122
You increment the version to force IntelliJ to rebuild the index

[2018-06-06 14:30] Turbo87 opened #204 "Add support for angle bracket components"
to support e.g. https://github.com/rwjblue/ember-angle-bracket-invocation-polyfill

[2018-06-07 04:50] km-smith commented on #204
Came here to say this but you are on top of things.

[2018-06-07 12:38] #202 closed

[2018-06-11 16:07] shoxter commented on #176
I think I'm having this issue as well...

String index out of range: 16

[code]

[2018-06-12 13:33] Hucster opened #207 "Incorrect commands"
1. creating new route:
![image](https://user-images.githubusercontent.com/40205811/41293214-60d45218-6e5d-11e8-941e-379d59a2c864.png)

2. runing ember serve:
![image](https://user-images.githubusercontent.com/40205811/41293393-ce7b6446-6e5d-11e8-90a3-45395873537a.png)

It seems like the node.exe is redundant. Tried with Ember.js-2018.2.1-0 and Ember.js-2018.1.2-0.

[2018-06-12 14:08] Turbo87 commented on #207
@makepanic any ideas?

[2018-06-13 12:41] Turbo87 opened #208 "Add support for HTML elements starting with `@`"
Right now the HTML parser in IntelliJ will throw up on HTML elements starting with `@`, but the following will soon be possible in Ember.js:

[code]

[2018-06-13 12:42] Turbo87 commented on #208
@denofevil sent me the following instructions via email:

---
According to the HTML spec (https://www.w3.org/TR/html52/syntax.html#tokenizer-tag-open-state) that is not a valid tag name. Due to this I’d rather avoid adding this change to the HTML lexer.

What I’d suggest instead is to make a copy of https://github.com/JetBrains/intellij-community/blob/master/xml/xml-psi-impl/src/com/intellij/lexer

[2018-06-13 17:43] makepanic commented on #207
Sounds like https://github.com/Turbo87/intellij-emberjs/issues/191#issuecomment-379168826

Basically it seems like the cmd generation on windows is broken.

[2018-06-13 18:09] Hucster commented on #207
I can check on Windows. Send me or give the link to patched Ember.js-2018.1.2-0

[2018-06-18 20:12] RavenHursT commented on #188
I'm seeing a similar problem w/ resolution of `import` statements throughout my project.  I have a similar structure to @discopatrick :

[code]
CMD-clicking on anything like `import bar from 'my-project/foo/bar'` results in the message "Cannot find a declaration to go to"

Any help w/ this would be GREAT!

[2018-06-25 07:46] pleszkowicz commented on #176
Hello :) I just encountered a similar issue after last upgrade of WebStorm.
More details:
[code]

[2018-06-25 18:41] Turbo87 opened #211 "Switch to related style file"
When using SASS it seems to be a common pattern to have a `styles/components/` folder with one SASS file per component with matching names. We could detect this pattern and suggest it as another related file for components.

[2018-07-02 18:21] ricknox opened #212 "[Exception] String index out of range: 8"
The following exception occurs in PhpStorm 2018.1.6 on macOS 10.13.5 (Build: PS-181.5281.35) while using Refactoring Code and using ESLint "Fix this file" afterwards.

[code]

[2018-07-05 07:50] rogatty opened #214 "Add support for ember-decorators"
If you want to use JS native classes you also need to use http://ember-decorators.github.io/ember-decorators/latest/docs. Currently, this plugin doesn't understand what the decorators mean. When using the `@service` decorator, there is no lightning bolt icon linking to the service, unlike when using `serviceName: service()`.

![screenshot](https://user-images.githubusercontent.com/7030884/42309406

[2018-07-05 07:51] Turbo87 commented on #214
@rogatty that would be nice! can you work on adding support for that?

[2018-07-05 08:05] rogatty commented on #214
I have no experience with Kotlin or IntelliJ plugins but I'll try to poke it with a stick if I find the time for it.
I opened this issue mostly to let you know that there is a new Ember feature that will be more and more popular as people migrate to the native classes. If I don't get to it first, I hope the hundreds of :+1: :+1: :+1: on the original post will get your attention :wink:

[2018-07-05 08:17] Turbo87 commented on #214
it's not an Ember feature yet though, only an addon that promotes an unstable ES proposal. once this gets into mainstream Ember I could have a look, but for now it's not high on my todo list 😉

[2018-07-10 10:34] #207 closed

[2018-07-10 14:28] makepanic commented on #191
@iqdoq-dfischer with https://github.com/Turbo87/intellij-emberjs/pull/210 merged, this should work in the latest ember intellij version. (If it's really the same issue)

Can you confirm and maybe close this issue?

[2018-07-10 14:46] jmochenkova opened #216 "Ember.js Files cannot be created."
WebStorm 2018.2 EAP (182.3569.4) + Ember.js plugin ver. 2018.2.2-0
Create Ember project. Invoke "New - Ember.js Files". Select any kind, set name and press OK.
The exception will be thrown, no file will be created.

[code]

[2018-07-10 14:47] Turbo87 commented on #216
@makepanic this seems related to the latest changes

[2018-07-10 16:38] makepanic commented on #216
I can reproduce it if ember-cli has an issue before running the selected task.

Example:
* trying to generate a file before having node_modules/bower_components installed

I'm not sure if there's anything we can do except improve error reporting in this case. Looks like the error's getting swallowed

[2018-07-10 17:24] Turbo87 commented on #216
`java.lang.NoClassDefFoundError: org/apache/commons/lang3/SystemUtils` sounds more like a wrong/broken import path to me 🤔

[2018-07-10 17:55] #216 closed

[2018-07-11 08:16] Turbo87 commented on #216
@jmochenkova should hopefully be fixed by v2018.2.3 which will be published in the next couple of minutes. thanks for reporting! :)

[2018-07-12 10:08] jmochenkova commented on #216
@Turbo87 Thanks) It works with the plugin ver. 2018.2.3-0

[2018-07-23 11:34] kubakunc commented on #176
+1 IntelliJ IDEA 2017.3.4 (Ultimate Edition)

[2018-07-23 19:21] makepanic opened #219 "Add `ember install` action"
Similar to `ng add` action in the [latest angular plugin](https://www.youtube.com/watch?v=CZFooXiqxs8&feature=youtu.be&t=166), we could add that for `ember install`:

![20180723-210718](https://user-images.githubusercontent.com/1205444/43098045-383e22b2-8ebe-11e8-8ece-e1501f3ea85c.png)

Their source is at https://github.com/JetBrains/intellij-plugins/blob/master/AngularJS/src/org/angularjs/cli/act

[2018-07-24 19:16] makepanic commented on #219
I got a prototype of this working using emberobserver as datasource.

There are some open questions I have:

* can we copy the ng approach of having a [list of addons in the repo](https://github.com/JetBrains/intellij-plugins/blob/master/AngularJS/resources/org/angularjs/cli/ng-packages.json)?

We could do the same by using the [emberobserver autocomplete data](https://emberobserver.com/api/v2/aut

[2018-08-01 09:02] makepanic opened #221 "Improve translation file editing"
Intellij has a default resource translation file editor

https://www.jetbrains.com/help/idea/resource-bundle.html#editing

![https://www.jetbrains.com/help/img/idea/2018.2/bundleEditor.png](https://www.jetbrains.com/help/img/idea/2018.2/bundleEditor.png)

We could try to get this to work for `translations/*` in an ember app using ember-intl

Alternatively we could try to see if this works if we ad

[2018-08-01 12:59] makepanic commented on #221
nvm this isn't something that intellij-emberjs should do. I'll open an issue in ember-intl as this works great out of the box, if properties files are used.

[2018-08-01 12:59] #221 closed

[2018-08-18 16:57] #181 closed

[2018-08-18 19:05] alejoceballos commented on #176
Same problem here. Constantly getting this error. =(

-- IDE Version --

IntelliJ IDEA 2018.2.1 (Ultimate Edition)
Build #IU-182.3911.36, built on August 6, 2018
JRE: 1.8.0_181-b13 amd64
JVM: JavaHotSpot(TM) 64-Bit Server VM by Oracle Corporation

-- Error Message --

In file: file:///<ember-project-path>/public/assets/<ember-project-name>.js

java.lang.StringIndexOutOfBoundsException: String inde

[2018-08-29 19:50] rstudner opened #226 "Latest Webstorm and plugin -- can't seem to find components"
webstorm 2018.2.2 - 184.4129.32

I've tried invalidating caches and restarting..

Now, on my mac if I do command-o and it says enter class name.. I can find models, controllers and routes, serializers, templates lah lah... but no components

I am doing app/components/<component-name>/template.hbs & component.js . (sort of pods-y)

[2018-08-29 20:01] dwickern commented on #226
It's probably the issue I fixed in #220

[2018-09-06 12:53] shoxter commented on #212
All types of these issues exist with this plugin.

[2018-09-26 04:37] MR-H0200 opened #229 "java.lang.StringIndexOutOfBoundsException"
[code]

[2018-09-26 18:30] makepanic commented on #229
Can you maybe provide additional information on this error?

* your intellij version
* your ember-intellij version
* a short description on when this error appeared

@Turbo87 would you be interested in creating an issue template to possibly improve issue creation?

[2018-09-27 06:48] harip0200 commented on #229
intellij version 2018.2

I am having a generated js file with  **16071** characters long.

while opening that file got this error

[2018-09-27 10:23] ghost opened #234 "Missing Translation"
I get a missing translation in all my templates. Completion works but the preview of translated string not.

<img width="742" alt="bildschirmfoto 2018-09-27 um 12 22 32" src="https://user-images.githubusercontent.com/7657474/46139972-26449080-c250-11e8-8837-9c54bcc33732.png">

[2018-09-27 10:53] Turbo87 commented on #234
can you reproduce this in a fresh new ember app?

[2018-09-27 12:02] onceatime commented on #234
@Turbo87 , I’ll do it next week when I’m back at office

[2018-09-27 12:03] onceatime commented on #234
Before I forget I use ember-intl

[2018-09-30 16:04] makepanic commented on #234
It could be caused by new ember-intl configs not using [`baseLocale` anymore](https://github.com/ember-intl/ember-intl/blob/master/docs/migration-2.0-to-3.0.md#migrating-from-20-to-30).
The ember-intl code searches for its value https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/translations/EmberIntlBaseLocaleFinder.kt#L12

With falling back through baseLocale, `e

[2018-10-01 10:58] onceatime commented on #234
Im knocked out this week. I’ll try to test it ASAP.ä when I’m back on track. But the configuration fallback sounds cool. The best solution or maybe as a separate module or feature could be a dialogue where the user can choose what translations should be used.

[2018-10-02 11:09] onceatime commented on #234
@makepanic my configuration is the default which comes with ember-intl (no changes).

emmber-intl version: 3.2.5

[2018-10-03 08:17] goroskob opened #236 "Can't find component with dash in name"
### Description

When using Navigate->Class I cannot find component (or anything) with dash in a name, which is by convention every component. If type just parts of the name without dashes, component is found.

### Steps to Reproduce

Name component 'my-component'. Use Navigate->Class and search by 'my-component'.

**Expected behavior:** To find component by it's name

**Actual behavior:** Compone

[2018-10-04 07:15] makepanic commented on #236
I think it caused by the change from https://github.com/Turbo87/intellij-emberjs/pull/220

Right now it replaces `-` with spaces https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/navigation/EmberGotoClassContributor.kt#L22

I'll see if one can maybe provide intellij with various separators instead of doing the work manually.

[2018-10-17 20:50] cah-briangantzler commented on #229
I also get this error. Many times over the last few updates of intellij, so it doesnt appear to any specific version. I notice the blinking event log and I see the error. I have no idea when it showed up to know what I was doing that may have triggered it. It doesnt appear to stop anything in the plugin. So far I have just been ignoring them.

I was hoping that the stack trace would give some kind

[2018-10-17 21:13] cah-briangantzler opened #237 "Intellij Freezes when right clicking project"
### Description

Intellij Freezes when right clicking the project line

### Steps to Reproduce

Right click the top directory (project) in the project pane (Normally on the right side)

**Expected behavior:**  Context menu would display with all the options

**Actual behavior:** Intellij freezes and must force quit

**Reproduces how often:** Always

### Versions

IntelliJ IDEA 2018.2.5 (Ultimate E

[2018-10-22 03:02] rinoldsimon opened #238 "Running `ember serve` from Intellij IDE through `Run` (^R) throws errors - existing with code 127"
### Description

/Users/workspace/web_ui/node_modules/.bin/ember serve
env: node: No such file or directory

Process finished with exit code 127

### Steps to Reproduce

- at times, after newly opening IntelliJ IDE
- when i restart the IDE it works fine

**Expected behavior:** Start ember server

**Actual behavior:** Throws error in `Run` tool window

**Reproduces how often:** Alternate number of

[2018-10-22 03:09] rinoldsimon opened #239 "Running `ember serve` in IntelliJ from Run (^R) throws error - exiting with code 127"
### Description

/Users/workspace/web_ui/node_modules/.bin/ember serve
env: node: No such file or directory

Process finished with exit code 127

### Steps to Reproduce

- at times, after newly opening IntelliJ IDE
- when i restart the IDE it works fine

**Expected behavior:** Start ember server

**Actual behavior:** Throws error in `Run` tool window

**Reproduces how often:** Alternate number of

[2018-10-22 08:09] rinoldsimon opened #240 "check"
### Description

### Steps to Reproduce

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

**Reproduces how often:** [What percentage of the time does it reproduce?]

### Versions

- The first two lines of the `Help` -> `About` output:

- The version of `intellij-emberjs` (`Settings` -> `Plugins` -> `Ember.js`):

### Additional Information

[2018-10-22 12:20] #240 closed

[2018-10-22 12:21] Turbo87 commented on #239
duplicate of #238

[2018-10-22 12:21] #239 closed

[2018-10-22 12:21] Turbo87 commented on #238
it sounds like IntelliJ can't find your Node.js executable

[2018-10-22 12:22] Turbo87 commented on #237
interesting, I've tried to reproduce it, but it seems to work fine for me 🤔

[2018-10-22 13:05] cah-briangantzler commented on #237
I will let you know if it happens on any of the other developers machines.

[2018-10-22 13:52] rinoldsimon commented on #238
why does it happen at alternate number of time? However i specified node path under
`preference -> languages & frameworks -> node.js and npm`

[2018-10-22 14:05] Turbo87 commented on #238
I don't know...

I think we might not use that path but instead look for a global `node` binary. @makepanic might know this?

[2018-10-22 14:37] makepanic commented on #238
Yes we execute the `node_modules/.bin/ember` executable directly.
I guess on your system `#!/usr/bin/env node` returns nothing.

Maybe it's a good idea to also check if we can access the global node binary.

[2018-10-22 14:43] makepanic opened #241 "Allow developer to configure Node interpreter"
### Description

Various intellij node plugins allow a developer to specify Node interpreter and options:

- Mocha:

![20181022-161028](https://user-images.githubusercontent.com/1205444/47298907-43833980-d619-11e8-8989-566a43252043.png)

- Node.js:

![20181022-161015](https://user-images.githubusercontent.com/1205444/47298939-56960980-d619-11e8-8eb2-54a012e87df9.png)

This would provide a way to f

[2018-10-22 14:45] Turbo87 commented on #241
nope, no preferences here

[2018-10-23 02:36] rinoldsimon commented on #241
npm lint:js  run configuration:
![screenshot 2018-10-23 at 08 01 22](https://user-images.githubusercontent.com/6988364/47331556-04e19380-d69a-11e8-8216-34edc6c33031.png)

Configuring node interpreter may solve #238

[2018-10-28 18:01] rinoldsimon opened #242 "Intellij IDEA doesn't recognizes modules and directories"
### Description
directory:
![screenshot 2018-10-28 at 23 30 13](https://user-images.githubusercontent.com/6988364/47619880-7cd01380-db09-11e8-9fab-bb67bffdb8f4.png)
module:
![screenshot 2018-10-28 at 23 29 20](https://user-images.githubusercontent.com/6988364/47619881-7cd01380-db09-11e8-9547-af9cd53118dc.png)

### Versions
- IntelliJ:

IntelliJ IDEA 2018.2.5 (Ultimate Edition)
Build #IU-182.4892.2

[2018-11-16 02:59] alejoceballos commented on #176
I created a repository to store all the times this problem arises. Would you like to take a look?
- [The stack trace](https://github.com/alejoceballos/intellij-emberjs-StringIndexOutOfBoundsException/blob/master/exception-stack-trace-2018-11-15.txt)
- [The file referenced by the exception](https://github.com/alejoceballos/intellij-emberjs-StringIndexOutOfBoundsException/blob/master/tellersdesk-fro

[2018-11-16 07:57] makepanic commented on #176
Thanks, I'll probably have some time over the weekend to investigate this further.

[2018-11-18 19:05] makepanic commented on #176
It looks like the addon creates a FileReferenceSet with an index that's out of bounds.

If one removes the `+ 1` here https://github.com/Turbo87/intellij-emberjs/blob/master/src/main/kotlin/com/emberjs/resolver/EmberModuleReferenceContributor.kt#L61 then it won't crash anymore.

![20181118-191134](https://user-images.githubusercontent.com/1205444/48676787-ed4bdc80-eb6b-11e8-820c-56ebb88bbffb.png)

[2018-11-19 03:43] teejayhh commented on #242
is there any chance to look at this ? Seems like a basic thing to have for an ember plugin.

[2018-11-19 08:31] Turbo87 commented on #242
@teejayhh it is quite hard to implement properly and for me personally it's not a high priority. I'm happy to review pull requests that implement it though.

[2018-11-19 08:50] Turbo87 commented on #176
@makepanic unfortunately I don't know much about this either. That code was added in https://github.com/Turbo87/intellij-emberjs/commit/634d2964db780c1ea8e3166d96eb0bd354778315 by @dwickern according to git.

[2018-11-19 20:13] makepanic commented on #176
A possible workaround could be to check if `offset + packageName.length` will go out of bounds before creating the FileReferenceSet.

I'm not sure how solid that would be though. If it's ok, I could open a PR to implement it.

[2018-11-19 21:48] dwickern commented on #176
If it's too much trouble to fix `EmberAppReferenceContributor`, we can just remove it. Module unification + typescript should improve ergonomics for imports.

[2018-11-26 09:32] janmisek opened #243 "Typescript files like component.ts are not recognized as components in hbs templates"
### Description

Typescript files like component.ts are not recognized as components in hbs templates. Based on standard typescript usage regarding `ember-cli-typescript`

### Steps to Reproduce

Create component ts file in any component namespace. `component.ts` use standard component definition:

[code]
**Expected behavior:**

Autocompletion in any hbs template will offer the component in autoco

[2018-11-26 09:55] janmisek commented on #243
Actually its only thing which blocks me from using typescript on component layer in our projects as we have large components base which is not very usable without autocompletion. Does this require big change ? if not I can try to prepare pr myself. But I have not written any intellij plugin yet so could you point me to test of this `component.js` behaviour. I can start from there.

[2018-11-26 10:01] Turbo87 commented on #243
I think the necessary change should be quite small, but unforunately I'm not entirely sure where it needs to be done either. If I remember correct this behavior is defined in one of the `ReferenceContributor` classes.

[2018-11-26 10:02] janmisek commented on #243
Thanks. This is just enough hint. I will take a look soon.

[2019-01-02 13:58] ControlTheBit commented on #229
Same error here... :-)

**IntelliJ Version:**
[code]
**Ember Plugin Version:** `v2018.3.1-0`
**What I did:** I opened the file `dist/assets/[project]-ember.js` after executing `ember build` in the console

Stacktrace:
[code]

[2019-01-02 14:41] makepanic commented on #176
@Turbo87 should I open a PR where we manually check if the offset will go out of bounds? This potentially "fixes" the issue until we know how to do it better.

Related issues:
* https://github.com/Turbo87/intellij-emberjs/issues/212
* https://github.com/Turbo87/intellij-emberjs/issues/229

[2019-01-02 14:55] Turbo87 commented on #176
yeah, I guess that should be good enough for now. just make sure to write a comment explaining the code.

[2019-01-03 11:20] #176 closed

[2019-01-03 11:20] #212 closed

[2019-01-03 11:20] #229 closed

[2019-01-24 04:50] #179 closed

[2019-01-25 10:34] iqdoq-dfischer commented on #191
Sorry my answer is a little bit late but better late than never:
Works with WebStorm 2018.3.3 and Ember plugin 2018.3.2.

Thank you very much!
Closing this issue.

[2019-01-25 10:34] #191 closed

[2019-02-28 17:27] joegaudet opened #247 "Question: Is there a way to set the project root for mono repo projects?"
### Description

I have a rails project that contains two ember projects. Since IntelliJ is a bit of a resource hog I put everything in one project. So my project folder looks like this:

![screen shot 2019-02-28 at 9 23 39 am](https://user-images.githubusercontent.com/123911/53585351-8ced1380-3b3a-11e9-8e56-7db3b76f63ce.png)

Where star-fox and swift-fox are my two client apps for the API.

I wou

[2019-02-28 18:48] joegaudet commented on #247
Figured it out :)

[2019-02-28 18:48] #247 closed

[2019-03-28 02:08] ofry opened #250 "Make plugin compatible to IDEA 2019.1"
### Description

### Steps to Reproduce

**Expected behavior:** Plugin should be compatible with IntelliJ IDEA 2019.1

**Actual behavior:** Compatible versions is 2018.3.2 — 2018.3.6

**Reproduces how often:** 100%

### Versions

- The first two lines of the `Help` -> `About` output:

[code]

- The version of `intellij-emberjs` (`Settings` -> `Plugins` -> `Ember.js`):

### Additional Information

[2019-03-28 07:25] makepanic commented on #250
Can confirm that it's not working with the new version
![20190328-080339](https://user-images.githubusercontent.com/1205444/55138127-f9a3ff80-5132-11e9-93bc-d114107deda3.png)

I'll see if i can investigate/fix this in the evening

[2019-03-30 21:50] donaldwasserman commented on #204
@Turbo87 is this something that you still need or is it a WIP?

[2019-03-31 07:43] Turbo87 commented on #204
it's still needed

[2019-04-01 16:29] km-smith commented on #250
@Turbo87 2019.1 was released on March 26, 2019. Looking forward to having your plugin work in the new version. It's the only blocker keeping me from migrating since it's quite essential to my dev workflow at this point.

[2019-04-02 07:11] CezaryH commented on #250
+1

[2019-04-02 07:12] #250 closed

[2019-04-02 09:58] Turbo87 commented on #250
v2019.1.1 of the plugin was released about an hour ago

[2019-04-02 12:17] mk-conn opened #252 "Generate ember file not available"
### Description

In the docs it says:

<img width="330" alt="Screenshot 2019-04-02 at 13 45 41" src="https://user-images.githubusercontent.com/5840922/55401795-189afb00-5552-11e9-823f-fdd0a2467e76.png">

But I'm not seeing this functionality. Could it be, that the problem is related to the fact, that I have my ember folder not in the root of the project?

My structure is as follows:
`app > resourc

[2019-04-02 13:05] makepanic commented on #252
Did you see intellij prompting you when it found an ember project?

If not, try to import the ember app as module in your project settings (`Project Settings -> Modules -> + -> Import module`). It should try to import it as ember project.

[2019-04-02 13:30] mk-conn commented on #252
I don't have `Project Settings` ... in PhpStorm, IDEA has?

[2019-04-02 14:10] mk-conn commented on #252
Okay... I was generating a new module by myself since PhpStorm does not offer this in the settings

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/5840922/55409168-c95cc680-5561-11e9-9a9a-56ca0808106e.png">

Now its working :) Thx for the hint!

[2019-04-02 14:10] #252 closed

[2019-04-04 19:40] makepanic commented on #241
@rinoldsimon if you have some time, can you check https://github.com/makepanic/intellij-emberjs/tree/issues/241 and see if it works for you? I started working on it back in october and had some time today to mostly finish it up for the serve config.

![20190404-210448](https://user-images.githubusercontent.com/1205444/55583453-3323ce80-5722-11e9-87d6-87164b161d24.png)

I still have to add it to th

[2019-04-05 07:18] makepanic opened #253 "Add Environment variables run configuration option"
### Description

Many Intellij run configurations have a way to configure environment variables.
Right now intellij-emberjs is missing this.

![20190405-090415](https://user-images.githubusercontent.com/1205444/55610513-62b6f300-5783-11e9-92b7-aa23c466319d.png)

We could add this to be more consistent with other run configurations.

The question is how/where we should add this. We currently alread

[2019-04-07 22:31] JulienFr opened #255 "Inheritance navigation and marking"
### Description

Components and services inherit variables and functions from parent components and services and also attached mixins. I as a developer, need to know what variables and functions are inherited in my components and services, and know about their origins, as otherwise the code is not navigable.

### Steps to Reproduce

parent-component.js

[code]

child-component.js
[code]

**Expecte

[2019-04-08 07:57] Turbo87 commented on #255
this is quite hard to implement and since Ember will soon move to use ES6 classes by default this behavior will then be built-in anyway

you are welcome to work on this for the old Ember.Object system if you want to, but I'm personally not going to invest time in this if it will soon be unnecessary 😉

[2019-04-08 08:27] JulienFr commented on #255
Thank you for your answer. If it'll come with the ES6 classes, I agree, let's forget it then.

[2019-04-09 16:53] dwickern commented on #255
Have you looked into using ember-cli-typescript at all?

<img width="577" alt="Screen Shot 2019-04-09 at 9 52 58 AM" src="https://user-images.githubusercontent.com/752885/55819276-4a114a80-5aad-11e9-99c7-4626ddf6aec9.png">

[2019-04-09 20:40] JulienFr commented on #255
Thank you ! I'll do that.
I am using Typescript with Angular in parallel, but did not make the link betweeen Typescript and Ember.

[2019-04-09 21:23] #255 closed

[2019-04-26 06:50] #241 closed

[2019-05-03 03:57] #253 closed

[2019-05-24 19:45] jpveilleux commented on #204
Any news on the progress of this? This is an integral part of Ember now and should be supported ASAP ;)

Thanks for the great plugin btw!

[2019-06-04 19:06] makepanic commented on #204
I've started investigating this in the last couple weeks and it seems we can't just reuse the `HbsReferenceContributor` as it's only handling the parsed handlebars tree.

Next I'll try to build a `TagDescriptorsProvider` which implements `XmlElementDescriptorProvider, XmlTagNameProvider` , similar to the [ng2 implementation](https://github.com/JetBrains/intellij-plugins/blob/master/AngularJS/src/o

[2019-06-04 19:07] Turbo87 commented on #204
oh yes... 🙈

[2019-06-13 08:52] RonyOCuinn opened #262 "Ember Serve tries to run a .sh file on Windows"
### Ember Serve tries to run a .sh file on Windows

### Steps to Reproduce

Create a new Ember Serve run configuration.

**Expected behavior:** The same behaviour as running `ember serve` from the CLI.

**Actual behavior:** The following error occurs:

[code]

**Reproduces how often:** 100%

### Versions

WebStorm 2019.1.3
Build #WS-191.7479.14, built on May 27, 2019

v2019.1.2-0

### Additional I

[2019-06-13 16:39] joegaudet commented on #134
@Turbo87 wondering how hard this might be? Seems like module unification is still a ways away this would be pretty handy.

Not sure where you'd even start mind you, but happy to look into it if you have some guidance

[2019-07-09 09:55] azhiv commented on #211
Absolutely agree. I often feel lack for this navigation option.

[2019-08-08 17:42] anstarovoyt opened #271 "File references exception"
Exception occured during the run
Exception occured during the run
Current test results not found
java.lang.IllegalArgumentException: Index is out of bounds: 30, length: 28
	at com.intellij.openapi.util.text.StringUtil.startsWith(StringUtil.java:1828)
	at com.intellij.psi.impl.source.resolve.reference.impl.providers.FileReferenceSet.reparse(FileReferenceSet.java:212)
	at com.intellij.psi.impl.sourc

[2019-08-15 13:54] erveloso commented on #262
Same here!

[2019-08-20 18:12] robclancy commented on #214
Octane is almost done and this addon is very outdated compared to it. This is probably the main feature that is needed though.

[2019-08-28 05:01] pauln commented on #262
I just had this mysteriously start happening to a previously-working `ember serve` run configuration, which left me scratching my head furiously for a while.  I ended up comparing the `.idea/workspace.xml` from the affected project and another project (which was still working perfectly!) and have concluded that it's the `node interpreter` setting which causes this issue.

It seems that in earlier

[2019-09-05 15:23] vendethiel commented on #152
Can I close this?

[2019-10-17 21:54] arthur5005 opened #274 "Support Inline Template Syntax Highlighting"
### Description

It would be nice if this plugin could support inline hbs syntax highlighting.
https://marketplace.visualstudio.com/items?itemName=dhedgecock.ember-syntax
https://github.com/dustinfarris/vim-htmlbars-inline-syntax

[2019-10-18 09:11] anstarovoyt commented on #274
can be easy done in WS2019.3 thanks to the injection support for handlebars

[2019-11-01 17:52] anstarovoyt opened #276 "In the latest WebStorm EAP 2019.3 EAP ember run configurations are missed"
In the latest WebStorm EAP after installing Ember plugin both Ember Run configurations (Serve & Test) are missed.
WebStorm 2019.3 EAP
Build #WS-193.4932.10, built on October 30, 2019
WebStorm EAP User
Expiration date: November 29, 2019
Runtime version: 11.0.4+10-b520.2 x86_64
VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.15
GC: ParNew, ConcurrentMarkSweep
Memory: 1981M
Cores: 8
Registry

[2019-11-05 09:00] vsergiu93 commented on #204
Any news on this?

It's an awesome plugin, thank you for your work.

[2019-11-05 11:56] makepanic commented on #204
Sadly I didn't have any more time.
I think the most sane solution would be to fork the handelbars plugin and extend [their flex grammar](https://github.com/JetBrains/intellij-plugins/blob/master/handlebars/src/com/dmarcotte/handlebars/parsing/handlebars.flex) to support what we need.

Alternatively we could write our own gramma, similar to the ng2 plugin. That would be tons of work though :(

[2019-11-10 17:05] Turbo87 commented on #276
thanks for reporting this @anstarovoyt! any clue what might be going on that could cause this?

[2019-11-10 17:08] Turbo87 commented on #214
@robclancy I agree, would be great if someone could find the time to work on this.

[2019-11-12 22:01] Turbo87 commented on #204
@makepanic I'm not sure why we need a custom grammer for this. I've tried to implement it using a regular ReferenceContributor, but for some reason the references were not clickable at all.

As much as I like developing in IntelliJ, writing plugins for it is a real pain in the ...

[2019-11-13 06:50] makepanic commented on #204
Interesting. I've tried to extend the HbsPatterns to get proper results but it seemed like i can only use the tokens that the handlebars library finds.
Somehow i only got handlebars syntax and everything else was transparent. Don't we need access to the "html" tokens too (aka angle bracket tokens)?

[2019-11-13 07:36] Turbo87 commented on #204
yeah, the `HbsReferenceContributor` is limited to the Handlebars PSI. Angle Bracket Components are part of the HTML PSI though, so they would need their own dedicated reference contributor AFAICT.

[2019-11-18 23:16] arthur5005 commented on #274
@anstarovoyt are you saying that there's full support for this in 2019.3? or that the _framework support_ is available in that version and would be easy to make this happen?

[2019-11-20 15:06] joegaudet commented on #274
Would definitely find this extremely valuable for test writing and story writing in Storybook.js

[2019-12-09 12:12] viktoria-shirunova opened #289 "IndexOutOfBoundsException on selecting Ember template in Run Configuration Templates on machine without installed Node"
### Description

IndexOutOfBoundsException on selecting Ember template in Run Configuration Templates on machine without  installed Node

### Steps to Reproduce
0. Have a machine without installed Node
1. Run Idea or WebStorm 2019.3
2. Install Ember.js plugin, restart ide
3. Open `Run Configuration Templates for New Projects" dialog
4. Select any Ember template `Ember Serve` or `Ember Test` - exce

[2019-12-09 13:45] Turbo87 commented on #289
looks like something wrong in our `EmberServeSettingsEditor` implementation.

@makepanic  do you have time to look into this?

[2019-12-10 07:14] makepanic commented on #289
Sure I'll look into it.

[2019-12-16 10:23] iqdoq-dfischer commented on #262
Same here. The workaround described by @pauln works, but has to be re-applied every time if I modify run/debug configurations.
My version is IntelliJ IDEA 2019.3 Ultimate Edition with Ember.js plugin 2019.3.1-0.
My OS is windows 10 v1809 on arch amd64.

[2019-12-29 20:02] makepanic commented on #136
started working on this in https://github.com/makepanic/intellij-emberjs/tree/hbs-lint

![20191229-201232](https://user-images.githubusercontent.com/1205444/71561939-9ce8c300-2a7d-11ea-9a78-3a42c9ee4286.png)
![20191229-201246](https://user-images.githubusercontent.com/1205444/71561940-a07c4a00-2a7d-11ea-9e69-5418eee086ca.png)

It's currently heavily inspired by `stylelint` intellij linting impleme

[2020-01-02 07:23] makepanic opened #294 "#293 changed html attribute behavior"
### Description

It seems like #293 introduced an issue where intellij reports any attribute as `is not allowed here`.

### Steps to Reproduce

Open any hbs template and add any html that contains an attribute, e.g. `class`

![20191229-201232](https://user-images.githubusercontent.com/1205444/71655790-e7499880-2d38-11ea-90ec-aa4ab9aef45e.png)

(see last line in screenshot)

**Expected behavior:**

[2020-01-02 20:23] makepanic commented on #294
Seems like the issue is that we return the ember descriptor in https://github.com/Turbo87/intellij-emberjs/blob/1350ed2fb61b286a6a6509ffd10a5e8022947f83/src/main/kotlin/com/emberjs/EmberXmlElementDescriptorProvider.kt#L9 for all html elements.

If we eagerly determine if it's a component template or component and return the `EmberXmlElementDescriptor` only if it found something, it'll fix the regu

[2020-01-09 20:49] #294 closed

[2020-01-10 14:18] iqdoq-dfischer commented on #262
The workaround does not work anymore with v2019.3.3-0.

"C:/Program Files/nodejs/node" C:/Users/bla/sources/blub/web-ui/node_modules/.bin/ember serve
C:\Users\bla\sources\blub\web-ui\node_modules\.bin\ember:2
basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^

SyntaxError: missing ) after argument list
    at new Script (vm.js:80:7)
    at createScript (vm.js:274:10)
    at Ob

[2020-02-01 20:12] #136 closed

[2020-02-02 09:23] Close0 commented on #262
@iqdoq-dfischer I'm having the same issue as you. What I ended up doing was opening the package.json file and clicked the "Play" icon for the "ember serve" line. Not really a fix but at least that's what I'm doing until something gets resolved here.

[2020-02-02 09:45] makepanic opened #297 "Add support to suppress TemplateLint rules"
### Description

With TemplateLint being merged, we could add support for inline supressing rules.

![20200202-100210](https://user-images.githubusercontent.com/1205444/73606277-ed859b80-45a8-11ea-870f-bb40f7c8f9fe.png)

### Additional Information

For implementation in tslint, see https://github.com/JetBrains/intellij-plugins/blob/1fdd3d03f4c8882fd1b86e6e044ed22a5b7db336/tslint/src/com/intellij/l

[2020-02-03 09:59] makepanic commented on #297
I got this nearly finished but have to figure out why intellij isn't displaying the supression options :<

![20200202-200220](https://user-images.githubusercontent.com/1205444/73643696-3fdfbe80-4674-11ea-8f8f-792d7aa58a03.png)

[2020-02-07 12:01] mydea opened #300 "Template lint warning a bit too aggressive?"
### Description

The new template lint integration is pretty cool! However, I found it to maybe be a bit too aggressive. I now constantly get a big red error bar on top saying "TemplateLint: templateLint result parsing error" while typing, e.g. when opening a new curly brace. It goes away when I close the curly brace, but it is a bit disorienting as it happens all the time. IMHO the red warning sh

[2020-02-07 12:12] Turbo87 commented on #300
/cc @makepanic

[2020-02-07 15:50] makepanic commented on #300
I think we can easily :tm: fix this. I'll look into it later, thanks for the report.

[2020-02-07 22:38] #300 closed

[2020-02-17 09:19] viktoria-shirunova opened #302 "No Ember.js run/debug configuration templates in WebStorm 2020.1 EAP"
### Steps to Reproduce

- run WebStorm 2020.1 EAP
- install `Ember.js` plugin from marketplace
- create any project
- open `Run/Debug Configurations` dialog, check list of templates:
expected: templates `Ember Serve` and `Ember Test` are present
actual: they are absent.

At that there are no exceptions.

### Versions

WebStorm 2020.1 EAP
Build #WS-201.5259.16, built on February 13, 2020
WebStorm E

[2020-03-06 19:21] Subaku opened #303 "Question: Undo previously suppressed inspection rule"
Hi,

I have a problem were I told PyCharm to suppress an inspection rule but later decided I wanted it back. How can I do that? I'm not seeing anything for this in any files or PyCharm's inspection views in preferences.

Specifically the rule is `ember/use-brace-expansion`

Thanks!

[2020-03-11 12:37] Turbo87 commented on #303
sorry, I don't know how to answer this either. the `ember/use-bracee-expansion` is an ESLint rul that is unrelated to this IntelliJ/PyCharm plugin. you would have to look at the docs for the ESLint plugin for PyCharm.

[2020-03-11 12:37] #303 closed

[2020-03-21 10:21] vlascik opened #305 "Automatically enable IntelliJ EAPs"
Currently, the plugin doesn't work on EAPs. It's possible to enable plugins to also work on EAPs automatically though:

https://www.jetbrains.org/intellij/sdk/docs/basics/getting_started/build_number_ranges.html

currently `plugin.xml` contains following line:
[code]

According to https://intellij-support.jetbrains.com/hc/en-us/community/posts/360000620084-how-to-build-a-plugin-that-is-compatible-

[2020-04-07 22:47] Vinccool96 opened #309 "Support WebStorm 2020.1"
### Description

Webstorm 2020.1 has been released today. It should be supported.

[2020-04-08 01:20] 7934345 commented on #309
Error Message: Plugin Error: Plugin "Ember.js" is incompatible (until build 193.SNAPSHOT < WS-201.6668.106).

[2020-04-08 06:03] Turbo87 commented on #309
PRs welcome 😉

[2020-04-09 04:32] JonnoFTW commented on #188
Is this issue going to be fixed?

[2020-04-09 06:08] Turbo87 commented on #188
PRs welcome 😉

[2020-04-09 18:26] #309 closed

[2020-04-09 18:30] Vinccool96 commented on #309
Only need to publish now. Thanks!

[2020-04-24 09:11] basz commented on #153
I'm using a mono repository with several addons that utilise intl. Th plugin seems to miss those too...

[2020-05-13 04:55] stukalin opened #315 "Go To Related doesn't support flat and nested component structure"
### Description

Ember has introduced 2 new component structures: flat and nested. They both put component template file into `components` folder instead of `templates`. Apparently that's not currently supported by the plugin.

### Steps to Reproduce

- add a flat structured template `ember g component TestComponent -gc`
- add a nested structured template `ember g component TestComponentNested -gc

[2020-05-21 23:30] sdhawley commented on #242
Where does one start to fix this?

[2020-06-02 21:42] G-Rath commented on #68
I've had this happen consistently after running an `npm update`:

[code]

[2020-07-27 07:15] #315 closed

[2020-07-28 17:56] jknight12882 opened #319 "Make compatible with IntelliJ 2020.2"
This was just released today and is warning that this plugin is incompatible.

[2020-07-28 18:57] #319 closed

[2020-09-18 11:53] ulitink opened #329 "JavaScript language version is decreased to ECMAScript6+"
### Description

Upon opening a project having React JSX or Flow language version configured, it's dropped to ECMAScript6+. Please see reported issue in WebStorm tracker: [WEB-47463](https://youtrack.jetbrains.com/issue/WEB-47463).

The problem is in [EmberCliProjectConfigurator.kt](https://github.com/Turbo87/intellij-emberjs/blob/27d45ad1b50f1f1476b9cd50f07abac77e32bca2/src/main/kotlin/com/emberj

[2020-09-18 11:55] Turbo87 commented on #329
PR welcome 😉

[2020-09-30 05:45] robclancy commented on #151
FYI I solved this by doing https://stackoverflow.com/questions/54239319/how-to-properly-set-up-ember-auto-imports-using-vscode-and-the-javascript-langua/56915685#56915685 incase someone comes to this issue. Which I think can be closed assuming this works for everyone.

[2020-11-16 18:42] Turbo87 commented on #305
I'd rather not do that, because we can't guarantee that the old versions actually will work on the EAP releases.

[2020-11-16 18:42] #305 closed

[2020-11-29 12:25] yratanov opened #348 "Run in WSL 2"
Currently when I try to use file generator commands on Windows with Ember in WSL 2, it tries to run Ember from Windows and of course fails.

Would it be possible to add a configuration like you have for ember-template-lint, so we can pick Node interpreter for CLI commands?

[2020-12-03 06:40] Mifrill commented on #302
Same for me with WebStorm 2020.3 / Ember.js Plugin 2016.2.4-0, @Turbo87 any update here?

[2020-12-03 08:17] Turbo87 commented on #302
the v2016 version of this plugin doesn't have that functionality. there is no officially compatible release for WebStorm 2020.3 yet, since our test suite is currently failing on that version.

[2020-12-03 08:17] #302 closed

[2020-12-03 17:41] ofry opened #353 "Instant crash on IntelliJ IDEA 2020.3"
### Description

### Steps to Reproduce

Just launch IntelliJ IDEA, maybe, with PHP composer project loaded.

**Expected behavior:** Plugin should NOT crash.

**Actual behavior:**

[code]

**Reproduces how often:** Every launch.

### Versions
IntelliJ IDEA 2020.3 (Ultimate Edition)
Build #IU-203.5981.155, built on December 1, 2020
Runtime version: 11.0.9+11-b1145.21 amd64
VM: OpenJDK 64-Bit Server

[2020-12-03 19:51] Turbo87 commented on #353
sorry, but there is no officially supported plugin release for v2020.3 yet

[2020-12-03 19:51] #353 closed

[2020-12-11 18:10] m-harnish opened #354 "Not compatible with 2020.3 releases (yet)"
The latest Rubymine (2020.3 at this time) only supports up to version 2016.2.4-0 of the emberjs plugin.

If I try to install the latest version manually (via Install Plugin from Disk), it gives the following error:

<img width="406" alt="Error_and_Preferences" src="https://user-images.githubusercontent.com/17304065/101938922-10a1b400-3b99-11eb-8cb0-708a0d9f6563.png">

[2020-12-11 18:25] Turbo87 commented on #354
yep, unfortunately our test suite is currently failing when run with IntelliJ 2020.3 and I haven't have time yet to figure out why that is and how it can be fixed. PRs to fix this are welcome :)

[2020-12-14 21:14] robclancy commented on #354
I'd like to get involved with this plugin (or a new one, if this one is suffering from super old ember versions), are there any generic resources to get started with how intellij plugins work?
And would it be worth trying to get the ember-language-server working?

[2020-12-14 21:40] Turbo87 commented on #354
idk what that means. the plugin is working fine with the most recent Ember versions.

if I remember correctly there are some docs on the JetBrains pages, but the API surface is huge and the docs only covers small parts of it unfortunately.

would be worth investigating, but I'm a little afraid of it making the setup here even more complex 😅

[2020-12-18 16:00] derekwsgray commented on #354
Ah this must explain why I don't see Ember  Run Configurations. I had (for my sanity) to upgrade to 2020.3 for a horrible mouse-focus bug they fixed on linux (webstorm). dang...

[2020-12-21 16:17] Turbo87 commented on #354
v2020.3.1 is on the way to the plugin store now 🎉

[2020-12-21 16:17] #354 closed

[2020-12-21 16:20] Turbo87 commented on #276
I assume that this is a similar issue to https://github.com/Turbo87/intellij-emberjs/issues/302, and very likely with a similar resolution. Unfortunately I don't seem to be able to remove those old plugin versions from the store, which would remove the confusion 😞

[2020-12-21 16:20] #276 closed

[2020-12-21 16:56] m-harnish commented on #354
Awesome, the update works great! Thanks for creating and maintaining this plugin!

[2020-12-23 11:24] vlascik commented on #305
Well, I guess that's your prerogative, but I'll just try to explain why it might be a better idea to try to list EAP versions anyway:

- Noone expects EAP versions to work. People using EAPs usually expect breakages and can fall back.
- By not adding EAP to the manifest, you just ensure that the plugin doesn't work even if it could.
- Instead of receiving a 3-4 month early warning the plugin will

[2020-12-23 11:30] Turbo87 commented on #305
there is nothing stopping us from having a version out there that works with those EAP versions, but it won't be the same one that also works for the stable version. we've already had that in the past.

this was caused by the test suite failing to run properly when upgrading to 2020.3 (or any of the previous EAPs), and it simply took a while to figure out what the problem was. feel free to open a

[2020-12-23 15:05] vlascik commented on #305
Whichever you prefer, two JARs are fine too.

Yeah, if it only was so simple. I could count the hours of my experience with IDEA SDK on one hand, what would take regular contributors 30 minutes to set up might take me days. Don't think PRs are realistic anytime soon, the knowledge gap is just too wide.

Well, I hope you'll reconsider anyway.

[2021-01-06 14:28] arohr commented on #289
Same issue here using
* RubyMine 2020.3.1
* EmberJS 2020.3.1-0

[2021-01-18 16:26] tristanbiesecker opened #360 "Extremely degraded typing performance when Ember.js plugin is installed and .hbs files are in focus"
### Description

When a `.hbs` file is open *and visible* in Intellij (Ultimate), typing performance becomes quite choppy/laggy, including autocompletion. However, if the `.hbs` tab isn't focused, performance is normal.

For example, let's say I have a `.js` file open on the left (split view), and a `.hbs` file on the right. With this setup, I will experience laggy typing in both my `.js` file and

[2021-01-18 17:34] Turbo87 commented on #360
thanks for the report. I'm wondering if there was some way to reproduce this problem. I do have a few somewhat larger projects that I regularly work on and I haven't experienced any issues like this yet.

[2021-01-19 18:50] tristanbiesecker commented on #360
It's unclear to me how to reproduce the issue in a different project other than the one I'm working on. All I can definitively say is that if I uninstall Ember.js, `.hbs` performance is normal (albeit without all the bells and whistles Ember.js provides), and once I install it again, performance takes a hit. Unfortunately, my project is within my company's domain, so sharing more details won't rea

[2021-01-19 18:55] Turbo87 commented on #360
I'm afraid I currently don't have any clue what might be causing this for you. Maybe you could clone the project locally and check if the same happens when using `./gradlew runIde` and if that happens to give any clues.

[2021-02-04 20:13] jiridanek opened #362 "PluginException: Cannot load class com.emberjs.project.EmberProjectStructureDetector"
### Description

[code]

### Steps to Reproduce

Instal the EAP version of IntelliJ, use the IDE for a while. This pops up.

### Versions

- The first two lines of the `Help` -> `About` output:

IntelliJ IDEA 2021.1 EAP (Ultimate Edition)
Build #IU-211.4961.33, built on January 28, 2021

- The version of `intellij-emberjs` (`Settings` -> `Plugins` -> `Ember.js`):

2016.2.4-0

[2021-02-04 22:56] Turbo87 commented on #362
2016.2.4-0 is a very old version, that does not support IntelliJ 2021.1. Support for this IntelliJ version is still work-in-progress here.

[2021-02-17 18:37] tristanbiesecker commented on #360
Unfortunately, I have not been able to gather any further diagnostic information. Closing this out for now.

[2021-02-17 18:37] #360 closed

[2021-06-10 20:20] rohitpaulk commented on #204
Looks like this was added in https://github.com/Turbo87/intellij-emberjs/pull/293?

[2021-07-26 22:57] rogeraraujo90 opened #382 "Navigation through components have broken in new WebStorm version"
### Description

I've updated my WebStorm version to WebStorm 2021.2 and now the navigation through components is not working

### Steps to Reproduce

- I'm in a template
- I press "ctrl" and click on a Component tag

**Expected behavior:** [What you expect to happen]
- We should navigate to the component template

**Actual behavior:** [What actually happens]
- Nothing happens. WebStorm is not det

[2021-07-27 18:32] minorgod opened #383 "Exception in plugin Ember.js (2021.1.1-0)"
### Description

Exception:

[code]
### Steps to Reproduce
Happens on project open.

**Expected behavior:**
No exception thrown

**Actual behavior:**
Exception thrown

**Reproduces how often:**
100% of the time.

### Versions

IntelliJ IDEA 2021.1.3 (Ultimate Edition)
Build #IU-211.7628.21, built on June 30, 2021
Runtime version: 11.0.11+9-b1341.60 amd64
VM: OpenJDK 64-Bit Server VM by JetBrains s

[2021-07-28 10:02] nickschot commented on #382
Yeah it seems to have updated to a very old 2016 release as that specifies a minimum version only, and the latest version of the plugin isn't compatible with 2021.2 yet.

[2021-08-11 14:40] loxmys commented on #382
Any ideas?

[2021-08-11 19:09] Turbo87 commented on #382
Yep, it needs a new release but I'm still on vacation until next week

[2021-08-17 08:36] #329 closed

[2021-08-24 16:53] tristanbiesecker commented on #382
Something important that I noticed though is that with `2016.2.4-0` the issues I described in #360 are gone. Any thoughts as to why that might be the case @Turbo87?

[2021-08-24 16:55] Turbo87 commented on #382
Probably because it doesn't contain the problematic feature that is causing the issues for you

[2021-08-24 17:34] tristanbiesecker commented on #382
Huh, I guess I couldn't have surmised that myself. 😒

[2021-08-30 17:26] ChrisCarini opened #390 "java.lang.IndexOutOfBoundsException in `2021.1.1-0`"
### Description

[code]

### Steps to Reproduce

**Expected behavior:** No exception

**Actual behavior:** Exception (see above)

**Reproduces how often:** Often enough.

### Versions

- The first two lines of the `Help` -> `About` output:

[code]

- The version of `intellij-emberjs` (`Settings` -> `Plugins` -> `Ember.js`):

`2021.1.1-0`

[2021-08-30 17:27] ChrisCarini opened #391 "Plugin does not support Exception reporting"
### Description

See below screenshot:
![Screen Shot 2021-08-30 at 10 26 47](https://user-images.githubusercontent.com/6374067/131379747-5b2d3d58-3b9e-44ce-bbb7-6279d7098dfd.png)

[2021-09-08 11:07] #382 closed

[2021-09-20 04:59] renovate[bot] opened #401 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update dependency gradle to v7.2](../pull/397)
 - [ ] [Update dependency org.assertj:assertj-core to v3.21.0](../pull/398)
 - [ ] [Update act

[2021-09-24 13:51] KucherenkoSerhiy commented on #242
hey @Turbo87
Thanks for supporting this! Any news towards this issue? While the warnings themselves do not seem important, actually if you try to create diagrams using Webstotm for instance, they will have some issues.

For example, following one shows how the diagrams appear with the issue and how they do if you change pathing to "./baseroute".

Regards

![Untitled](https://user-images.githubuser

[2021-09-24 15:03] Turbo87 commented on #242
still the same status as in my last comment. if someone wants to implement this feel free. I'm currently maxed out in my open-source work capacity.

[2021-10-05 07:23] mhankus opened #406 "IllegalArgumentException "@NotNull parameter 'file'" while opening/editing project in Webstorm"
### Description
webstorm complains about exceptions in emberjs plugin (little red exclamation in bottom right corner)

### Steps to Reproduce
Open project with hbs files

**Expected behavior:** [What you expect to happen]
No exception should occure.

**Actual behavior:** [What actually happens]
IllegalArgumentException is thrown
[code]

- Version of the plugin
2021.2.1

### Additional Information

[2021-12-14 08:10] arohr opened #417 "LineMarkerInfo() is deprecated"
### Description

RubyMine show an IDE error.

### Steps to Reproduce

Not sure how to reproduce. Just happens from time to time.

### Versions

RubyMine 2021.3 (#RM-213.5744.254)
Ember.js 2021.3.1

### Additional Information

Trace:

[code]

[2022-01-27 23:08] rveitch commented on #417
Also happening to me on PhpStorm 2021.3.1

[2022-02-25 19:31] digitalninjae commented on #417
Also happening to me in WebStorm 2021.3 - happens whenever I open the project.

[2022-03-07 20:19] kategengler opened #428 "Template Lint v4 no longer supports `--json` parameter"
### Description

`ember-template-lint` 4.x no longer supports `--json` and has replaced it with `--format=json` See https://github.com/ember-template-lint/ember-template-lint/pull/2193

https://github.com/Turbo87/intellij-emberjs/blob/4d5c4e52e155f40d4e27bd43351fc3d5547790dc/src/main/kotlin/com/emberjs/hbs/linter/ember-template-lint/TemplateLintExternalRunner.kt#L115 seems to be this line that add

[2022-03-08 21:56] silverbucket commented on #428
I'm running into this as well

[2022-03-10 19:11] arthur5005 commented on #428
any workarounds? or is this hardcoded?

[2022-03-23 10:39] zaynet commented on #417
The same issue in WebStorm 2021.3.3 -> com.emberjs (2021.3.1)

[2022-03-29 07:57] tudo commented on #417
+1 (PhpStorm 2021.3.3)

[2022-04-27 09:25] #417 closed

[2022-04-27 09:32] arohr commented on #417
Thank you!

[2022-06-02 08:08] #428 closed

[2022-07-29 07:07] mathieusanchez opened #451 "LineMarkerInfo deprecated for rubymine 2022.2"
### Description

### Steps to Reproduce

I don't really know how to reproduce, it seems to happen when RubyMine start.

**Expected behavior:** No error

**Actual behavior:** Getting an error message at each RubyMine start

### Versions

RubyMine 2022.2
Build #RM-222.3345.111, built on July 25, 2022

Ember.js plugin: 2016.1.4-0

### Additional Information

None

[2022-07-29 17:41] Turbo87 commented on #451
v2016.1.4 of the plugin is not meant to be used with v2022.2 of RubyMine. you might want to wait until we've released a version that is compatible :)

[2022-08-09 15:19] Turbo87 commented on #451
fixed by https://github.com/Turbo87/intellij-emberjs/releases/tag/v2022.2.1

[2022-08-09 15:19] #451 closed

[2022-08-18 08:37] Alonski opened #454 "Function helper invocation gets flagged incorrectly as an error"
### Description

It is possible today to use functions as helpers in templates without any special invocation like this:
[code]

However this shows up as an error in Webstorm.
[code]

This code does actually work during runtime.

Example of this:
[Limber](https://limber.glimdown.com/edit?format=glimdown&t=%23%20Effects%20in%20Ember%0A%0AI%20don%27t%20have%20any%20valid%20use%20cases%20for%20effect

[2022-08-18 08:40] Turbo87 commented on #454
you should report this to the maintainers of https://plugins.jetbrains.com/plugin/6884-handlebars-mustache. I'm just handling the Ember.js specific things in this plugin, but I'm not doing the parsing of Handlebars etc.

[2022-08-18 10:48] Alonski commented on #454
Ok thanks. Will do that

[2022-08-18 10:48] #454 closed

[2022-09-12 13:37] jkwuc89 opened #458 "Offer an option to not automatically show ember-intl translation in place of `{{t}}`"
### Description

### Steps to Reproduce

**Expected behavior:** [What you expect to happen]
Add an option to turn off the automatic lookup and display of translation strings in place of `{{t}}`'s in `.hbs` files.

**Actual behavior:** [What actually happens]
Translation strings by default are shown when editing `.hbs` files.

**Reproduces how often:** [What percentage of the time does it reproduce

[2022-11-30 17:54] jkwuc89 opened #466 "Make plugin compatible with IntelliJ IDEA 2022.3"
IntelliJ IDEA 2022.3 was released today and the current version of the Ember.js plugin is reporting this inside the IDE plugin settings:

<img width="533" alt="Screenshot 2022-11-30 at 12 53 09 PM" src="https://user-images.githubusercontent.com/1555064/204872019-77d600ef-678c-4272-95d9-8a2a24451a12.png">